<form name="global_settings">

	<table class="setting">
		<tr>
		<td style="width: 140px">Administrations E-Mail</td>
		<td><input type="text" name="adminmail" value="" class="w100" /></td>
		</tr>
		<tr>
		<td style="width: 140px">BCC Kopie an Admin</td>
		<td><input type="checkbox" name="bccToAdmin" value="" /></td>
		</tr>
	</table>
	
	
	{title text="Virtueller Absender"}
	<table class="setting">
	<tr>
		<td style="width: 140px">E-Mail Adresse</td>
		<td><input type="text" name="mailfrom" value="" class="w100" /></td>
	</tr>
	<tr>
		<td>E-Mail Betreff</td>
		<td><input type="text" name="mailfromtext" value="" class="w100" /></td>
	</tr>
	<tr>
		<td>Reply-To Adresse</td>
		<td><input type="text" name="mailfromreply" value="" class="w100" /></td>
	</tr>
	</table>
	
	{title text="Virtueller SMTP"}
	<table class="setting">
	<tr>
		<td style="width: 140px">Server</td>
		<td><input type="text" name="smtpserver" value="" class="w100" /></td>
	</tr>
	<tr>
		<td>Benutzer</td>
		<td><input type="text" name="smtpuser" value="" class="w100" /></td>
	</tr>
	<tr>
		<td>Passwort</td>
		<td><input type="text" name="smtppass" value="" class="w100" /></td>
	</tr>
	</table>

</form>