<form name="global_settings">

{title text="System Pfade"}
<table class="setting">
<tr>
	<td style="width: 100px">Host</td>
	<td><input type="text" name="host" value="" class="w100" /></td>
	<td></td>
</tr>
<tr>
	<td style="width: 100px">HTTPS Host</td>
	<td><input type="text" name="httpshost" value="" class="w100" /></td>
	<td></td>
</tr>
</table>

{title text="Rechte"}
<table class="setting">
<tr>
	<td style="width: 140px">Administrator Gruppe</td>
	<td><input type="text" name="admingroup" value="" class="w100" /></td>
	<td></td>
</tr>
</table>

{title text="Zusätzliche Einstellungen"}
<table class="setting">
<tr>
	<td style="width: 15px;"><input type="checkbox" name="debugmode" value="" class="noborder" /></td>
	<td>Debug Modus</td>
	<td></td>
</tr>
<tr>
	<td><input type="checkbox" name="emailprotection" value="" class="noborder"  /></td>
	<td>E-Mail Schutz</td>
	<td></td>
</tr>
<tr>
	<td><input type="checkbox" name="cache" value="" class="noborder"  /></td>
	<td>Cache</td>
	<td></td>
</tr>
</table>

<table class="setting">
<tr>
	<td>
		Maximale Speichernutzung (RAM)
	</td>
	<td>
		<input type="text" name="memory_limit" value="" class="w100"  /> MB (megabyte)
	</td>
	<td></td>
</tr>
</table>

</form>