<form name="global_settings">
<table class="setting">
<tr>
	<td style="width: 100px">Host</td>
	<td><input type="text" name="host" value="" class="w100" /></td>
	<td></td>
</tr>
<tr>
	<td>Datenbank</td>
	<td><input type="text" name="db" value="" class="w100" /></td>
	<td></td>
</tr>
<tr>
	<td>Benutzer</td>
	<td><input type="text" name="user" value="" class="w100" /></td>
	<td></td>
</tr>
<tr>
	<td>Passwort</td>
	<td><input type="text" name="pw" value="" class="w100" /></td>
	<td></td>
</tr>
</table>

</form>