
.media-item-entry {
    clear: both;
    cursor: default;
    float: left;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    width: 100%;
}

.media-item-entry:hover {
    background: rgba(0, 0, 0, 0.1);
}

.media-item-entry-text {
    float: left;
    line-height: 20px;
    overflow: hidden;
    padding: 0 10px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 50px);
}

.media-item-entry-icon {
    float: left;
    line-height: 20px;
    text-align: center;
    width: 30px;
}

.media-item-entry-close {
    cursor: pointer;
    float: left;
    line-height: 20px;
    text-align: center;
    visibility: hidden;
    width: 20px;
}

.media-item-entry:hover .media-item-entry-close {
    visibility: visible;
}

.media-item-entry-close:hover {
    background: #2F8FC6;
    color: #FFFFFF;
}
