
.qui-media-file-details {
    float: left;
    width: 100%;
}

.qui-media-file-details textarea {
	height: 200px;
	padding: 10px;
    width: 100%;
}

.qui-media-file-details td {
    text-align: left;
}

.qui-media-file-details td:first-child {
	min-width: 100px;
    width: 30%;
}


.qui-media-file-details input[name="blur"],
.qui-media-file-details input[name="brightness"],
.qui-media-file-details input[name="contrast"] {
    float: left;
    margin-top: 5px;
}

.qui-media-file-details input[name="blurDisplay"],
.qui-media-file-details input[name="brightnessDisplay"],
.qui-media-file-details input[name="contrastDisplay"] {
    padding: 5px;
    width: 30px;
}
