
.qui-media-file-details {
    float: left;
    width: 100%;
}

.qui-media-file-details textarea {
	height: 200px;
	padding: 10px;
    width: 100%;
}

.qui-media-file-details td {
    text-align: left;
}

.qui-media-file-details td:first-child {
	min-width: 100px;
    width: 30%;
}


input[name="blur"],
input[name="brightness"],
input[name="contrast"] {
    float: left;
    margin-top: 5px;
}

input[name="blurDisplay"],
input[name="brightnessDisplay"],
input[name="contrastDisplay"] {
    padding: 5px;
    width: 30px;
}