
.qui-media-content {
    float: left;
    height: 100%;
    width: 100%;
    overflow: auto;
    border: 4px dashed transparent;
}

.qui-media-content__with-pagination {
    height: calc(100% - 50px) !important;
}

.qui-media-content-ondragdrop {
    /*background-color: #CFF09E;*/
    border: 4px dashed #666;
}

.qui-media-sitemap {
    background: #fff;
    border-right: 1px solid #bbb;
    float: left;
    height: 100%;
    overflow: auto;
    position: relative;
    top: 0;
    width: 300px;
    z-index: 100;
}

/** Media item style
 ================================================ */

.qui-media-item {
    float: left;
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin: 20px 0 0 20px;
    overflow: hidden;
    position: relative;
    border: 1px solid #dedede;

    background-position: center 10px;
    background-repeat: no-repeat;
}

.qui-media-item.selected,
.qui-media-item:hover {
    background-color: #2F8FC6;
}

.qui-media-item-ondragdrop {
    background-color: #CFF09E;
    border: 4px dashed #666;
}

.qui-media-drag {
    background-color: #CFF09E !important;
}

.qmi-active {
    border-top: 4px solid #77AB13;
}

.qmi-deactive,
.qmi-inactive {
    border-top: 4px solid #AE432E;
}

.qui-media-item span {
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    height: 30px;
    left: 0;
    overflow: hidden;
    text-align: center;
    padding: 5px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.qui-media-file-delete ul li {
    clear: both;
}

.qui-media-deleteWindow-preview-icon {
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    margin-right: 5px;
    width: 20px;
}

/** Media grid style
 ================================================ */

.qui-media-content .omnigrid li img {
    margin-top: 6px !important;
}

/** Media upload file
 ================================================ */

.qui-media-upload {
    float: left;
    width: 100%;
}

.qui-media-upload h2 {
    line-height: 22px;
    margin: 0 0 20px;
    padding-bottom: 0;
}

.qui-media-upload h2 .fa-upload,
.qui-media-upload h2 .fa {
    margin-right: 10px;
}

.qui-media-upload p {
    margin: 5px 0 10px 0;
}

.qui-media-upload-fields input {
    float: left;
    clear: both;
    margin: 10px 10px 0 10px;
}

/** Pagination
 ================================================ */
.qui-media-pagination {
    width: 95%;
    /* background-color: red; */
    height: 60px;
    bottom: 0;
    position: absolute;
    /*display: flex;*/
    padding: 10px 0 0 20px;
}

.qui-media-pagination__hidden {
    display: none;
}

.qui-media-pagination-limit {
    float: left;
    height: 32px;
    margin: 0 10px 0 0;
}

.quiqqer-sheets-desktop,
.qui-media-pagination .quiqqer-pagination {
    clear: none !important;
    float: left;
    width: calc(100% - 75px) !important;
}

.qui-media-pagination .quiqqer-sheets-sheet {
    width: 30px;
}

.qui-media-pagination .quiqqer-sheets-desktop {
    margin: 0 !important;
}

.qui-media-pagination .quiqqer-sheets-desktop a {
    color: #212527;
}

.qui-media-pagination .quiqqer-sheets-desktop-current {
    color: #efefef !important;
}

.qui-media-pagination .quiqqer-sheets-desktop a:hover {
    color: #a4a4a4;
}
