
.qui-bookmark {
    float: left;
    clear: both;
    margin: 0;
    padding: 10px 10px 10px 40px;
    cursor: pointer;
    font-size: 13px;
    width: 100%;
    border-bottom: 1px solid #dedede;

    background-repeat: no-repeat;
    background-position: 15px center;
}

.qui-bookmark:hover {
    background-color: #6C98D9;
    color: #FFF;
}