
/** breadcrumb
 * ========================================================== */

.quiqqer-core-controls-breadcrumb {
    --_font-size: var(--quiqqer-core-controls-breadcrumb-font-size, var(--_q-controlConf-font-size, 0.9em));

    font-size: var(--_font-size);
}

.quiqqer-core-controls-breadcrumb a {
    color: #8a8a8a;
    padding: 0;
}

.quiqqer-core-controls-breadcrumb a:hover .quiqqer-core-controls-breadcrumb-link-text {
    text-decoration: underline;
}

.quiqqer-core-controls-breadcrumb-title {
    display: inline-flex;
}

.quiqqer-core-controls-breadcrumb ul {
    margin: 0 0 0 15px;
    display: inline-flex;
}

.quiqqer-core-controls-breadcrumb ul li {
    display: inline;
    margin-right: 15px;
    overflow: hidden;
    padding-left: 0;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.quiqqer-core-controls-breadcrumb ul li:last-child {
    margin-right: 0;
}

.quiqqer-core-controls-breadcrumb .fa {
    margin-right: 15px;
}

.quiqqer-core-controls-breadcrumb-container {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: block;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.fa.quiqqer-core-controls-breadcrumb-link-icon {
    cursor: pointer;
    margin-right: 0;
    display: none;
    line-height: inherit;
    font-size: 2em;
    position: absolute;
    right: 0;
    width: 40px;
    text-align: center;
}

/* mobile
no fix point - JS calculate */


.quiqqer-core-controls-breadcrumb.quiqqer-core-controls-breadcrumb-mobile ul {
    bottom: 0;
    display: block;
    margin: 0;
    position: absolute;
    width: 100%;
}

.quiqqer-core-controls-breadcrumb.quiqqer-core-controls-breadcrumb-mobile ul li {
    border-bottom: 1px solid #eee;
    display: block;
    margin: 0;
    padding-left: 0;
    padding-right: 10px;
}

.quiqqer-core-controls-breadcrumb.quiqqer-core-controls-breadcrumb-mobile ul li:last-child {
    border-bottom: none;
    padding-right: 40px;
}

.quiqqer-core-controls-breadcrumb.quiqqer-core-controls-breadcrumb-mobile .fa.quiqqer-core-controls-breadcrumb-link-icon {
    display: inline;
}

.quiqqer-core-controls-breadcrumb.quiqqer-core-controls-breadcrumb-mobile .quiqqer-core-controls-breadcrumb-list-element:after {
    display: inline;
}
