@CHARSET "UTF-8";

.qui-project-settings p {
    float: left;
    clear: both;
    margin: 2px 0;
}

.qui-project-settings label {
    float: left;
    width: 150px;
}

.qui-project-settings td.first {
    width: 150px;
}

.qui-project-settings input,
.qui-project-settings select {
    width: 200px;
    float: left;
}
