
/** QUI Tool / Tabbar
 ================================================================= */

.qui-toolbar {
	float: left;
}

.qui-toolbar-container {
	float: left;
	overflow: hidden;
}

.qui-toolbar-left {
	width: 5px;
	height: 10px;
	background: url('images/left.png') no-repeat center center;
}

.qui-toolbar-right {
	width: 5px;
	height: 10px;
	background: url('images/right.png') no-repeat center center;
}

.qui-toolbar-dropdown {
	height: 10px;
	width: 10px;
	/*background: url('images/drop.png') no-repeat center center;*/
}
