.control-editor-input {
    cursor: pointer;
    position: relative;
}

.control-editor-preview {
    height: 100%;
    width: 100%;
}

.control-editor-input-click {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}