
<div style="margin: 20px 0 0 20px;">
	<form name="cronsettings">
		<table style="">
			<tr>
				<td>
					<span style="width: 120px; float: left;">
						Cron hinzufügen
					</span>
				</td>
				<td>
					<select name="plugin" style="width: 150px;">
						{foreach from=$list item=Cron}
							{if $Cron.project}
							<option value="project.{$Cron.Plugin->getAttribute('name')};{$Cron.cronname}">
								{$Cron.desc}
							</option>
							{else}
							<option value="{$Cron.Plugin->getAttribute('name')};{$Cron.cronname}">
								{$Cron.desc}
							</option>
							{/if}
						{/foreach}
					</select>
				</td>
				<td>
					<input type="text" name="min" value="" style="width: 40px" />
				</td>
				<td>
					<input type="text" name="hour" value="" style="width: 40px" />
				</td>
				<td>
					<input type="text" name="day" value="" style="width: 40px" />
				</td>
				<td>
					<input type="text" name="month" value="" style="width: 40px" />
				</td>
				<td rowspan="2" valign="top">
					<div id="btn_add_cron" style="float: left"></div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td class="description" style="width: 40px">Minute</td>
				<td class="description" style="width: 40px">Stunde</td>
				<td class="description" style="width: 40px">Tag</td>
				<td class="description" style="width: 40px">Monat</td>
			</tr>
		</table>
	</form>
</div>