
.field-container > .qui-controls-project-site-input {
    border: 1px solid rgba(147, 128, 108, 0.25);
    border-left: 0;
    flex: 1;
    width: 100%;
}

.field-container > .qui-controls-project-site-input input {
    border: none;
    float: left;
    line-height: 28px;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 100px);
}

.field-container > .qui-controls-project-site-input .qui-button {
    border-radius: 0;
    border-left: 1px solid rgba(147, 128, 108, 0.25);
    box-shadow: none;
    width: 50px;
}
