@CHARSET "UTF-8";

.site-data .first-td {
    width: 150px;
}

.site-data .scnd-td {
    width: 40px;
}

.site-data input[name="site-name"],
.site-data input[name="title"] {
    width: 300px;
}

.site-data textarea[name="short"] {
    width: 100%;
    height: 120px;
}

.site-date input[name="c_date"],
.site-date input[name="c_user_ip"],
.site-date input[name="e_date"],
.site-date input[name="e_user_ip"] {
    width: 150px !important;
}

.site-url-display {
    padding: 5px 0;
    margin-left: 160px;
}

.site-data-project-types-container {
    float: left;
    max-width: calc(100% - 150px);
    width: 300px;
}

/** site settings
 * ====================================== */

form.qui-site-data {
    width: 100%;
}

.qui-site-data .data-table p {
    width: 100%;
}

.qui-site-data label {
    margin-top: 5px;
}

.qui-site-data .data-table input,
.qui-site-data .data-table select,
.qui-site-data .data-table textarea {
    width: calc( 100% - 150px );
}

.qui-site-data input[name="site-name"] {
    width: calc( 100% - 200px );
}

.qui-site-data .data-table input[type="checkbox"],
.qui-site-data .data-table input[type="radio"] {
    width: 20px;
}

.qui-site-data .data-table textarea {
    min-height: 100px;
}
