@CHARSET "UTF-8";

.control-site-search label {
    clear: both;
    float: left;
    line-height: 30px;
    width: 100%;
}

.control-site-search-label {
    clear: both;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.control-site-search-label select {
    float: right;
    margin: 0 10px 0 0;
    position: relative;
    top: -2px;
    width: 20%;
}

.control-site-search-label input {
    float: left;
    line-height: 30px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    width: 30%;
}

.control-site-search-label button {
    position: relative;
    top: 1px;
}