
.control-site-select {
    background: #ffffff;
    border: 1px solid #cfd2d2;
    clear: both;
    float: left;
    height: 160px;
    max-width: 100%;
    overflow: auto;
    width: 100%;
}

.control-site-select-container {
    overflow: auto;
    padding: 10px;
    width: 100%;
}

.control-site-select-buttons,
.control-site-select-description {
    clear: both;
    float: left;
    width: 100%;
}

.control-site-select-buttons button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
}

.control-site-select-entry {
    background-color: #eff0f0;
    border: 1px solid #d6d9d9;
    border-radius: 3px;
    color: #555;
    float: left;
    margin: 0 5px 5px 0;
    padding: 3px 10px;
    position: relative;
    text-decoration: none;
}

.control-site-select-entry .icon-file,
.control-site-select-entry .icon-file-alt,
.control-site-select-entry .icon-magic {
    float: left;
    line-height: 20px;
    margin-right: 5px;
}

.control-site-select-entry-text {
    float: left;
}

.control-site-select-entry-delete {
    color: #99a2a6;
    cursor: pointer;
    float: left;
    margin-left: 5px;
    padding: 0 5px;
}

.control-site-select-entry-delete:hover {
    background: #666666;
    color: #FFFFFF;
}

.control-site-select-container-placeholder {
    color: #999;
}