@CHARSET "UTF-8";

.qui-project-children-sort {
    clear: both;
    float: left;
    height: 100%;
    overflow: auto;
    width: 100%;
}

.qui-project-children-sort-body {
    padding: 20px;
}

.qui-project-children-sort-buttons {
    background: #e1e4e9;
    height: 50px;
    position: relative;
    width: 100%;
}

.qui-project-children-sort-field {
    float: left;
    padding: 2px;
}

.qui-project-children-sort-field span {
    font-size: 12px;
    padding: 0 10px;
}