<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onAdminLoadFooter" fire="\QUI\EventHandler::onAdminLoadFooter"/>
    <event on="onUserChangePassword" fire="\QUI\EventHandler::onUserChangePassword"/>
    <event on="onPackageSetup" fire="\QUI\Users\Auth\Handler::onPackageSetup"/>
    <event on="onPackageUpdate" fire="\QUI\EventHandler::onPackageUpdate" />
</events>