parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$User of static method QUI\\\\Workspace\\\\Manager\\:\\:saveWorkspace\\(\\) expects QUI\\\\Users\\\\User, QUI\\\\Interfaces\\\\Users\\\\User given\\.$#"
			count: 1
			path: admin/ajax/desktop/workspace/edit.php

		-
			message: "#^Parameter \\#1 \\$User of static method QUI\\\\Workspace\\\\Manager\\:\\:saveWorkspace\\(\\) expects QUI\\\\Users\\\\User, QUI\\\\Interfaces\\\\Users\\\\User given\\.$#"
			count: 1
			path: admin/ajax/desktop/workspace/save.php

		-
			message: "#^Parameter \\#1 \\$User of method QUI\\\\Groups\\\\Group\\:\\:addUser\\(\\) expects QUI\\\\Users\\\\User, QUI\\\\Interfaces\\\\Users\\\\User given\\.$#"
			count: 1
			path: admin/ajax/groups/addUsers.php

		-
			message: "#^Parameter \\#1 \\$User of method QUI\\\\Groups\\\\Group\\:\\:removeUser\\(\\) expects QUI\\\\Users\\\\User, QUI\\\\Interfaces\\\\Users\\\\User given\\.$#"
			count: 1
			path: admin/ajax/groups/removeUsers.php

		-
			message: "#^Parameter \\#1 \\$Folder of method QUI\\\\Interfaces\\\\Projects\\\\Media\\\\File\\:\\:copyTo\\(\\) expects QUI\\\\Projects\\\\Media\\\\Folder, QUI\\\\Interfaces\\\\Projects\\\\Media\\\\File given\\.$#"
			count: 1
			path: admin/ajax/media/copy.php

		-
			message: "#^Parameter \\#3 \\$expiration of method QUI\\\\Cache\\\\QuiqqerMongoDriver\\:\\:storeData\\(\\) expects int, false given\\.$#"
			count: 1
			path: admin/ajax/system/cache/mongoCheck.php

		-
			message: "#^Call to an undefined method QUI\\\\Package\\\\Manager\\:\\:updatePackage\\(\\)\\.$#"
			count: 1
			path: admin/ajax/system/update/byfile.php

		-
			message: "#^Parameter \\#2 \\$Folder of method QUI\\\\Projects\\\\Media\\\\Trash\\:\\:restore\\(\\) expects QUI\\\\Projects\\\\Media\\\\Folder, QUI\\\\Interfaces\\\\Projects\\\\Media\\\\File given\\.$#"
			count: 1
			path: admin/ajax/trash/media/restore.php

		-
			message: "#^Parameter \\#1 \\$User of method QUI\\\\Users\\\\Auth\\\\Handler\\:\\:sendPasswordResetVerificationMail\\(\\) expects QUI\\\\Users\\\\User, QUI\\\\Interfaces\\\\Users\\\\User given\\.$#"
			count: 1
			path: admin/ajax/users/authenticator/sendPasswordResetConfirmMail.php

		-
			message: "#^Parameter \\#2 \\$flags of function json_encode expects int, true given\\.$#"
			count: 1
			path: admin/index.php

		-
			message: "#^Parameter \\#2 \\$flags of function json_encode expects int, true given\\.$#"
			count: 2
			path: admin/login.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Projects\\\\Media\\\\File\\:\\:createResizeCache\\(\\)\\.$#"
			count: 1
			path: image.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Projects\\\\Site\\:\\:getCachePath\\(\\)\\.$#"
			count: 1
			path: index.php

		-
			message: "#^Parameter \\#2 \\$values of method Symfony\\\\Component\\\\HttpFoundation\\\\ResponseHeaderBag\\:\\:set\\(\\) expects array\\<string\\>\\|string\\|null, int given\\.$#"
			count: 1
			path: index.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, int given\\.$#"
			count: 1
			path: src/QUI/Events/Manager.php

		-
			message: "#^Parameter \\#3 \\$value of method QUI\\\\Config\\:\\:setValue\\(\\) expects float\\|int\\|string, bool given\\.$#"
			count: 1
			path: src/QUI/Events/Manager.php

		-
			message: "#^Call to method createPDF\\(\\) on an unknown class QUI\\\\HtmlToPdf\\\\Document\\.$#"
			count: 1
			path: src/QUI/Export/bin/export.php

		-
			message: "#^Call to method setContentHTML\\(\\) on an unknown class QUI\\\\HtmlToPdf\\\\Document\\.$#"
			count: 1
			path: src/QUI/Export/bin/export.php

		-
			message: "#^Instantiated class QUI\\\\HtmlToPdf\\\\Document not found\\.$#"
			count: 1
			path: src/QUI/Export/bin/export.php

		-
			message: "#^Parameter \\#1 \\$code of method Symfony\\\\Component\\\\HttpFoundation\\\\Response\\:\\:setStatusCode\\(\\) expects int, string given\\.$#"
			count: 1
			path: src/QUI/Export/bin/export.php

		-
			message: "#^Parameter \\#1 \\$code of method Symfony\\\\Component\\\\HttpFoundation\\\\Response\\:\\:setStatusCode\\(\\) expects int, string given\\.$#"
			count: 1
			path: src/QUI/Export/bin/exportPrint.php

		-
			message: "#^Parameter \\#1 \\$seconds of function set_time_limit expects int, string given\\.$#"
			count: 1
			path: src/QUI/Output.php

		-
			message: "#^Parameter \\#1 \\$string of function md5 expects string, int given\\.$#"
			count: 2
			path: src/QUI/Output.php

		-
			message: "#^Parameter \\#1 \\$string of function md5 expects string, int\\|false given\\.$#"
			count: 2
			path: src/QUI/Output.php

		-
			message: "#^Parameter \\#2 \\$status of method QUI\\\\Package\\\\Manager\\:\\:setServerStatus\\(\\) expects bool, int given\\.$#"
			count: 1
			path: src/QUI/Package/LocalServer.php

		-
			message: "#^Parameter \\#2 \\$status of method QUI\\\\Package\\\\Manager\\:\\:setServerStatus\\(\\) expects bool, int given\\.$#"
			count: 2
			path: src/QUI/Package/Manager.php

		-
			message: "#^Parameter \\#2 \\$version of method QUI\\\\Composer\\\\Composer\\:\\:requirePackage\\(\\) expects string, bool given\\.$#"
			count: 1
			path: src/QUI/Package/Manager.php

		-
			message: "#^Parameter \\#1 \\$MediaItem of method QUI\\\\Permissions\\\\Manager\\:\\:setMediaPermissions\\(\\) expects QUI\\\\Projects\\\\Media\\\\Item, QUI\\\\Groups\\\\Group\\|QUI\\\\Projects\\\\Project\\|QUI\\\\Projects\\\\Site\\|QUI\\\\Users\\\\User given\\.$#"
			count: 1
			path: src/QUI/Permissions/Manager.php

		-
			message: "#^Parameter \\#2 \\$User of method QUI\\\\Projects\\\\Site\\:\\:checkPermission\\(\\) expects bool\\|QUI\\\\Users\\\\User, QUI\\\\Interfaces\\\\Users\\\\User\\|null given\\.$#"
			count: 3
			path: src/QUI/Permissions/Permission.php

		-
			message: "#^Parameter \\#1 \\$id of method QUI\\\\Projects\\\\Media\\:\\:get\\(\\) expects int, string\\|false given\\.$#"
			count: 2
			path: src/QUI/Projects/Media/Folder.php

		-
			message: "#^Parameter \\#2 \\$limit of method QUI\\\\Projects\\\\Media\\\\Folder\\:\\:getChildrenByName\\(\\) expects bool, int given\\.$#"
			count: 1
			path: src/QUI/Projects/Media/Folder.php

		-
			message: "#^Parameter \\#1 \\$seconds of function set_time_limit expects int, string given\\.$#"
			count: 1
			path: src/QUI/Projects/Media/Image.php

		-
			message: "#^Parameter \\#2 \\$User of method QUI\\\\Projects\\\\Site\\:\\:checkPermission\\(\\) expects bool\\|QUI\\\\Users\\\\User, QUI\\\\Interfaces\\\\Users\\\\User\\|null given\\.$#"
			count: 4
			path: src/QUI/Projects/Site/Edit.php

		-
			message: "#^Parameter \\#1 \\$id of method QUI\\\\Projects\\\\Project\\:\\:get\\(\\) expects int, array\\|string given\\.$#"
			count: 1
			path: src/QUI/Projects/Site/Utils.php

		-
			message: "#^Parameter \\#2 \\$values of method Symfony\\\\Component\\\\HttpFoundation\\\\ResponseHeaderBag\\:\\:set\\(\\) expects array\\<string\\>\\|string\\|null, int given\\.$#"
			count: 1
			path: src/QUI/Rewrite.php

		-
			message: "#^Parameter \\#2 \\$offset of function substr expects int, array\\|bool\\|string given\\.$#"
			count: 1
			path: src/QUI/Security/Encryption.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, array\\|bool\\|string given\\.$#"
			count: 1
			path: src/QUI/Security/Encryption.php

		-
			message: "#^Parameter \\#3 \\$timeout of class RedisCluster constructor expects float\\|int, null given\\.$#"
			count: 1
			path: src/QUI/Session.php

		-
			message: "#^Parameter \\#4 \\$readTimeout of class RedisCluster constructor expects float\\|int, null given\\.$#"
			count: 1
			path: src/QUI/Session.php

		-
			message: "#^Parameter \\#1 \\$Obj of method QUI\\\\Permissions\\\\Manager\\:\\:getCompletePermissionList\\(\\) expects QUI\\\\Groups\\\\Group\\|QUI\\\\Projects\\\\Project\\|QUI\\\\Projects\\\\Site\\|QUI\\\\Users\\\\User, QUI\\\\Interfaces\\\\Users\\\\User given\\.$#"
			count: 1
			path: src/QUI/System/Console/Tools/Permissions.php

		-
			message: "#^Parameter \\#2 \\$replace of function str_replace expects array\\|string, int given\\.$#"
			count: 1
			path: src/QUI/System/Console/Tools/SetSiteAttributes.php

		-
			message: "#^Call to static method existCurrency\\(\\) on an unknown class QUI\\\\ERP\\\\Currency\\\\Handler\\.$#"
			count: 2
			path: src/QUI/Users/Nobody.php

		-
			message: "#^Call to static method getDefaultCurrency\\(\\) on an unknown class QUI\\\\ERP\\\\Currency\\\\Handler\\.$#"
			count: 1
			path: src/QUI/Users/Nobody.php

		-
			message: "#^Parameter \\#1 \\$ParentUser of method QUI\\\\Users\\\\User\\:\\:checkDeletePermission\\(\\) expects QUI\\\\Users\\\\User\\|null, QUI\\\\Interfaces\\\\Users\\\\User given\\.$#"
			count: 1
			path: src/QUI/Users/User.php

		-
			message: "#^Parameter \\#2 \\$array of function implode expects array\\<string\\>, array\\<QUI\\\\Groups\\\\Group\\|string\\> given\\.$#"
			count: 1
			path: src/QUI/Users/User.php

		-
			message: "#^Parameter \\#1 \\$firstResult of method Doctrine\\\\DBAL\\\\Query\\\\QueryBuilder\\:\\:setFirstResult\\(\\) expects int, string given\\.$#"
			count: 1
			path: src/QUI/Utils/Doctrine.php

		-
			message: "#^Parameter \\#1 \\$maxResults of method Doctrine\\\\DBAL\\\\Query\\\\QueryBuilder\\:\\:setMaxResults\\(\\) expects int\\|null, string given\\.$#"
			count: 1
			path: src/QUI/Utils/Doctrine.php

		-
			message: "#^Parameter \\#1 \\$callback of function spl_autoload_register expects \\(callable\\(string\\)\\: void\\)\\|null, Closure\\(mixed\\)\\: bool given\\.$#"
			count: 1
			path: src/autoload.php
