includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - .
    excludePaths:
        - src/QUI/Users/Auth/Handler.php
        - src/QUI/Users/Auth/PasswordResetVerification.php
        - src/QUI/Projects/RestProvider.php
        - src/QUI/Cache/QuiqqerMongoDriver.php
        - tests
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    tipsOfTheDay: false
    treatPhpDocTypesAsCertain: false
    dynamicConstantNames:
        - DEVELOPMENT
        - DEBUG_MODE
        - CMS_DIR
        - URL_DIR
        - QUIQQER_AJAX
        - ERROR_SEND
        - ERROR_MAIL
    customRulesetUsed: true
services:
    -
        class: \PHPStan\Rules\Properties\TypesAssignedToPropertiesRule
        tags:
            - phpstan.rules.rule
    -
        class: \PHPStan\Rules\Functions\ArrowFunctionReturnTypeRule
        tags:
            - phpstan.rules.rule
    -
        class: \PHPStan\Rules\Functions\ClosureReturnTypeRule
        tags:
            - phpstan.rules.rule
    -
        class: \PHPStan\Rules\Functions\ReturnTypeRule
        tags:
            - phpstan.rules.rule
    -
        class: \PHPStan\Rules\Methods\ReturnTypeRule
        tags:
            - phpstan.rules.rule
