includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - admin/ajax
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    tipsOfTheDay: false
    dynamicConstantNames:
        - DEVELOPMENT
        - DEBUG_MODE
        - CMS_DIR
        - URL_DIR
        - QUIQQER_AJAX
        - ERROR_SEND
        - ERROR_MAIL
