parameters:
	ignoreErrors:
		-
			message: "#^Class MongoDB\\\\Client not found\\.$#"
			count: 1
			path: lib/QUI/Cache/QuiqqerMongoDriver.php

		-
			message: "#^Class MongoDB\\\\Collection not found\\.$#"
			count: 3
			path: lib/QUI/Cache/QuiqqerMongoDriver.php

		-
			message: "#^Undefined variable\\: \\$Group$#"
			count: 1
			path: lib/QUI/Permissions/PermissionOrder.php

		-
			message: "#^Parameter \\$Server of method QUI\\\\Projects\\\\RestProvider\\:\\:register\\(\\) has invalid type QUI\\\\REST\\\\Server\\.$#"
			count: 1
			path: lib/QUI/Projects/RestProvider.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Storage\\\\Handler\\\\MemcacheSessionHandler not found\\.$#"
			count: 1
			path: lib/QUI/Session.php

		-
			message: "#^Variable \\$lines in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: lib/QUI/System/Console/Tools/Update.php

		-
			message: "#^Call to static method startVerification\\(\\) on an unknown class QUI\\\\Verification\\\\Verifier\\.$#"
			count: 1
			path: lib/QUI/Users/Auth/Handler.php

		-
			message: "#^Call to an undefined method QUI\\\\Users\\\\Auth\\\\PasswordResetVerification\\:\\:getIdentifier\\(\\)\\.$#"
			count: 1
			path: lib/QUI/Users/Auth/PasswordResetVerification.php

		-
			message: "#^QUI\\\\Users\\\\Auth\\\\PasswordResetVerification\\:\\:__construct\\(\\) calls parent\\:\\:__construct\\(\\) but QUI\\\\Users\\\\Auth\\\\PasswordResetVerification does not extend any class\\.$#"
			count: 1
			path: lib/QUI/Users/Auth/PasswordResetVerification.php

		-
			message: "#^Call to static method existCurrency\\(\\) on an unknown class QUI\\\\ERP\\\\Currency\\\\Handler\\.$#"
			count: 2
			path: lib/QUI/Users/Nobody.php

		-
			message: "#^Call to static method getDefaultCurrency\\(\\) on an unknown class QUI\\\\ERP\\\\Currency\\\\Handler\\.$#"
			count: 1
			path: lib/QUI/Users/Nobody.php

		-
			message: "#^Call to static method existCurrency\\(\\) on an unknown class QUI\\\\ERP\\\\Currency\\\\Handler\\.$#"
			count: 2
			path: lib/QUI/Users/User.php

		-
			message: "#^Call to static method getDefaultCurrency\\(\\) on an unknown class QUI\\\\ERP\\\\Currency\\\\Handler\\.$#"
			count: 1
			path: lib/QUI/Users/User.php

		-
			message: "#^Variable \\$where in empty\\(\\) always exists and is not falsy\\.$#"
			count: 2
			path: lib/QUI/UsersGroups/Search.php

		-
			message: "#^Variable \\$whereOR in empty\\(\\) always exists and is not falsy\\.$#"
			count: 2
			path: lib/QUI/UsersGroups/Search.php
