includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    phpVersion:
        min: 80200 # 8.2.0
        max: 80509 # 8.5.9
    paths:
        - .
    excludePaths:
        - src/QUI/Users/Auth/Handler.php
        - src/QUI/Users/Auth/PasswordResetVerification.php
        - src/QUI/Projects/RestProvider.php
        - src/QUI/Cache/QuiqqerMongoDriver.php
        - tests
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    tipsOfTheDay: false
    dynamicConstantNames:
        - DEVELOPMENT
        - DEBUG_MODE
        - CMS_DIR
        - URL_DIR
        - QUIQQER_AJAX
        - ERROR_SEND
        - ERROR_MAIL
        - QUIQQER_BACKEND
        - QUIQQER_CONSOLE
        - ADMIN
