.qui-workspace-search-input {
    float: left;
    max-width: 300px;
    position: relative;
    width: calc(100% - 900px);
}

.qui-workspace-search-input input {
    border-radius: 3px 0 0 3px;
    float: left;
    padding-left: 30px;
    width: calc(100% - 50px);
}

.qui-workspace-search-input button {
    border: 1px solid rgba(147, 128, 108, 0.25);
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    width: 50px;
}

.qui-workspace-search-input-icon {
    left: 0;
    line-height: 30px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    width: 30px;
}