
.project-entry {
    cursor: default;
    float: left;
    margin: 5px;
}

.project-entry-icon {
    float: left;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.project-entry-text {
    float: left;
    line-height: 30px;
}

.project-entry-close {
    cursor: pointer;
    float: left;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    width: 30px;
}

.project-entry:hover {
    background: #2F8FC6;
    color: #FFFFFF;
}

.project-entry:hover .project-entry-close {
    visibility: visible;
}
