
.project-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    background: #FFF;
}

.project-search {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height : 40px;
    border-top: 1px solid #DEDEDE;
    z-index: 11;
}

.project-content,
.project-list {
    position   : absolute;
    top        : 0px;
    width      : 100%;
    height     : 100%;
    background : #FFF;
    z-index    : 10;
}

.project-content {
    z-index : 5;
}

.project-list .qui-sitemap-entry-icon img {
    margin: 10px 0 0 4px;
}
