.qui-control-user-password {
    float: left;
    max-width: 100%;
    width: 100%;
}

.qui-control-user-password label {
    clear: both;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.qui-control-user-password-title {
    float: left;
    margin-bottom: 5px;
    max-width: 100%;
    width: 300px;
}

.qui-control-user-password input[type="text"],
.qui-control-user-password input[type="password"] {
    float: left;
    clear: both;
    max-width: 100%;
    width: 300px;
}
