.qui-control-user-password :where(label) {
    display: block;
    margin-bottom: 0.75rem;
    width: 100%;
}

.qui-control-user-password-title {
    margin-bottom: 0.25rem;
}

.qui-control-user-password input[type="text"],
.qui-control-user-password input[type="password"] {
    width: 100%;
}

.qui-control-user-password-show {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.qui-control-user-password-show [type="checkbox"] {
    margin: 0;
}
