.qui-controls-user-password-window-message {
    background-color: #FAF6D4;
    border-bottom: 1px solid #E6C26E;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}