.qui-controls-user-password-window-message {
    background-color: #FAF6D4;
    border: 1px solid #E6C26E;
    padding: 10px;
    margin-bottom: 1rem;
}

.qui-controls-user-password-quiWindow input[name="show"] {
    vertical-align: middle;
}