
.projects-input {
    float: left;
    position: relative;
}

.projects-input-input {
    cursor: pointer;
    float: left;
    margin: 3px 0;
    padding-left: 20px;
    width: 100%;
}

.projects-input-entry {
    cursor: pointer;
    float: left;
    margin: 5px;
}

.projects-input-dropdown {
    background: #fff;
    border: 1px solid #dedede;
    padding: 10px;
    position: absolute;
    width: 190px;
    z-index: 10;
}

.projects-input-dropdown .hover {
    background-color: #2F8FC6;
    color: #FFFFFF;
}

.projects-input-dropdown .mark {
    color: red;
    font-weight: bold;
}

/** entry container
 * =============================================== */

.projects-input-container {
    float: left;
    margin: 0px 0px 5px 0px;
    width: 100%;
}

.projects-input-container .project-entry {
    margin: 0;
}
