.badge {
    --_color: var(--qui-badge-color, inherit);
    --_background-color: var(--qui-badge-bgColor, transparent);
    --_font-size: var(--qui-badge-fontSize, 0.85em);

    color: var(--_color);
    background-color: var(--_background-color);
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.4em 0.75em;
    border: 1px solid color-mix(in srgb, var(--_background-color), black 4%);
    font-size: var(--_font-size);
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.7em;
    font-style: normal;
}

.badge-primary {
    --qui-badge-color: var(--qui-colors-primary--accent);
    --qui-badge-bgColor: var(--qui-colors-primary);
}

.badge-primary-light {
    --qui-badge-color: var(--qui-colors-primary-800);
    --qui-badge-bgColor: var(--qui-colors-primary-50);
}

.badge-secondary {
    --qui-badge-color: #fff;
    --qui-badge-bgColor: var(--qui-colors-secondary);
}

.badge-secondary-light {
    --qui-badge-color: var(--qui-colors-secondary-800);
    --qui-badge-bgColor: var(--qui-colors-secondary-50);
}

.badge-success {
    --qui-badge-color: #fff;
    --qui-badge-bgColor: var(--qui-colors-success);
}

.badge-success-light {
    --qui-badge-color: var(--qui-colors-success-800);
    --qui-badge-bgColor: var(--qui-colors-success-50);
}

.badge-error,
.badge-danger {
    --qui-badge-color: #fff;
    --qui-badge-bgColor: #dc4139;
}

.badge-error-light,
.badge-danger-light {
    --qui-badge-color: var(--qui-colors-danger-700);
    --qui-badge-bgColor: var(--qui-colors-danger-50);
}

.badge-warning {
    --qui-badge-color: #000;
    --qui-badge-bgColor: var(--qui-colors-warning);
}

.badge-warning-light {
    --qui-badge-color: var(--qui-colors-warning-950);
    --qui-badge-bgColor: var(--qui-colors-warning-100);
}

.badge-info {
    --qui-badge-color: #fff;
    --qui-badge-bgColor: var(--qui-colors-info);
}

.badge-info-light {
    --qui-badge-color: var(--qui-colors-info-800);
    --qui-badge-bgColor: var(--qui-colors-info-50);
}

.badge-light {
    --qui-badge-bgColor: var(--qui-colors-light);
    --qui-badge-color: #000;
}

.badge-dark {
    --qui-badge-bgColor: var(--qui-colors-dark);
    --qui-badge-color: #fff;
}

.badge-dark-light {
    --qui-badge-bgColor: var(--qui-colors-dark-25);
    --qui-badge-color: var(--qui-colors-dark);
}

.badge-white {
    --qui-badge-bgColor: #fff;
    --qui-badge-color: #111;
}

/* rounded */
.badge-pill {
    border-radius: 100px;
}

/* sizing */
.badge-sm {
    --qui-badge-fontSize: 0.7em;
}

.badge-lg {
    --qui-badge-fontSize: 1em;
}