.badge {
    --_color: var(--qui-badge-color, inherit);
    --_background-color: var(--qui-badge-bgColor, transparent);

    color: var(--_color);
    background-color: var(--_background-color);
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.4em 0.75em;
    border: 1px solid color-mix(in srgb, var(--_background-color), black 4%);
    font-size: 0.85em;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.75rem;
    font-style: normal;
}

.badge-success {
    --qui-badge-color: #fff;
    --qui-badge-bgColor: rgb(40 167 69);
}

.badge-success-light {
    --qui-badge-color: #1c7530;
    --qui-badge-bgColor: #e9f6ec;
}

.badge-warning {
    --qui-badge-color: #000;
    --qui-badge-bgColor: #ffd147;
}

.badge-warning-light {
    --qui-badge-color: #806924;
    --qui-badge-bgColor: #fff6da;
}

.badge-error,
.badge-danger {
    --qui-badge-color: #fff;
    --qui-badge-bgColor: #dc4139;
}

.badge-error-light,
.badge-danger-light {
    --qui-badge-color: #b0342e;
    --qui-badge-bgColor: #fbeceb;
}

.badge-info {
    --qui-badge-color: #fff;
    --qui-badge-bgColor: #4ca5ce;
}

.badge-info-light {
    --qui-badge-color: #357390;
    --qui-badge-bgColor: #edf6fa;
}

.badge-light {
    --qui-badge-bgColor: #e5e5e5;
    --qui-badge-color: #000;
}

.badge-dark {
    --qui-badge-bgColor: rgb(44, 49, 54);
    --qui-badge-color: #fff;
}

.badge-dark-light {
    --qui-badge-bgColor: #f5f5f5;
    --qui-badge-color: #2c3136;
}

.badge-white {
    --qui-badge-bgColor: #fff;
    --qui-badge-color: #111;
}