
/* standard classes
 ================================================== */


/* reset ein element, damit das element absolut kein design mehr hat
 ================================================== */
.reset {
	border: none;
	background: none;
}

/* Hover && Active Element Color
 ================================================== */
.hover,
.active {
	background-color: #6C98D9;
	color: #fff;
}

.dragdrop {
    background-color: #CFF09E;
    border: 4px dashed #666;
}

.dragdrop-bg {
    background-color: #CFF09E !important;
}

/* transition für elemente
 ================================================== */
.trans,
.smooth {
-webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
     -o-transition: all 0.2s ease;
}

/* box-sizing ausschalten
 ================================================== */
.box,
.box-sizing {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
	    box-sizing: border-box;
}

/* schatten klassen
 ================================================== */
.shadow {
-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
	    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

/* round border klassen
 ================================================== */
.radius3 {
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;
}
.radius5 {
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
}

.radius10 {
-webkit-border-radius: 10px;
   -moz-border-radius: 10px;
        border-radius: 10px;
}

.radius15 {
-webkit-border-radius: 15px;
   -moz-border-radius: 15px;
        border-radius: 15px;
}

.radius20 {
-webkit-border-radius: 20px;
   -moz-border-radius: 20px;
        border-radius: 20px;
}

/* topics
 ================================================== */

.topic {
	float: left;
	clear: both;
	width: 100%;
	border-bottom: 1px solid #bebebe;
	margin: 10px 0;
	font-weight: bold;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
}

/* Checkbox Container
 ================================================== */

.checkbox-container {
	float: left;
	margin: 10px;
}

.checkbox-container input {
	border: none;
	background: none;

	float: left;
	margin: 1px 10px 0 0;
}

.checkbox-container label {
	float: left;
	line-height: 16px;
}


