
/* Standard Aussehen für DOM Elemente
 ================================================== */

label {
    cursor: pointer;
    line-height: 26px;
}

input,
select,
textarea {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
textarea:focus, textarea:hover,
input:focus, input:hover {
    background: #fff;
    border: 1px solid #999;
}
textarea:focus,
input:focus {
    box-shadow: 0 0 3px #999;
}
select {
    line-height: 22px;
    padding: 2px;
    cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
    border: none;
    margin-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 12px; }