
html, body {
    background: #f0f2f5;
    color: #212527;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

th {
    text-align: left;
}

/** logo, title
 * ====================================================== */

.qui-logo-container {
    color: #BABABA;
    float: left;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 100%;
}

.qui-logo-container img {
    float: left;
    margin: 10px;
}

.qui-logo-container p {
    color: #2F8FC6;
    float: right;
    font-size: 14px;
    font-style: italic;
    margin: 0 10px 0 0;
    padding: 0;
}

/** menu
 * ====================================================== */

.qui-menu-container {
    background: #F2F2F2;
    border-bottom: 2px solid #e3e4e8;
    float: left;
    height: 40px;
    width: 100%;
}

/** workspace
 * ====================================================== */

.qui-workspace-container {
    background: #F2F2F2;
    float: left;
    width: 100%;
}
