
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background: #f0f2f5;
    color: #212527;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

th {
    text-align: left;
}

p {
    clear: both;
    margin: 0 5px 0 0;
    padding: 0;
}

address {
    font-size: 14px;
    line-height: normal;
}

address .salutation {
    margin-top: 10px;
}

address .adr {
    margin-bottom: 10px;
}

address .icon {
    float: left;
    line-height: 16px;
    margin-right: 5px;
    text-align: center;
    width: 20px;
}

h1 {
    font-size: 26px;
    margin: 0 0 20px;
}

h2 {
    font-size: 24px;
    margin: 0 0 18px;
}

h3 {
    font-size: 22px;
    margin: 0 0 16px;
}

h4 {
    font-size: 20px;
    margin: 0 0 14px;
}

.description {
    clear: both;
    font-style: italic;
}

.highlight {
    background-color: #CFF09E;
    border-color: #666;
}

/** logo, title
 * ====================================================== */

.qui-logo-container {
    color: #BABABA;
    float: left;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 100%;
}

.qui-logo-container img {
    float: left;
    margin: 10px;
}

.qui-logo-container p {
    color: #2F8FC6;
    float: right;
    font-size: 14px;
    font-style: italic;
    margin: 0 10px 0 0;
    padding: 0;
}

/** menu
 * ====================================================== */

.qui-menu-container {
    background: #F2F2F2;
    border-bottom: 2px solid #e3e4e8;
    float: left;
    height: 60px;
    padding-top: 20px;
    width: 100%;
}

/** workspace
 * ====================================================== */

.qui-workspace-container {
    background: #F2F2F2;
    float: left;
    width: 100%;
}

/** input fields
 * ====================================================== */

.field-container {
    display: flex;
    width: 100%;
}

.field-container-field {
    flex: 1;
}

label.field-container-field {
    cursor: pointer;
}

.field-container-field:not(:first-child) {
    border-left: 0;
}

.field-container-field:not(:last-child) {
    border-right: 0;
}

.field-container-item {
    background-color: rgba(147, 128, 108, 0.1);
    color: #666666;
    font: inherit;
    font-weight: normal;
}

.field-container-field,
.field-container-item {
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em 0.75em;
}

.field-container-field[type="number"] {
    padding: 0.5em 0 0.5em 0.75em;
}

.field-container-field:first-child,
.field-container-item:first-child {
    border-radius: 2px 0 0 2px;
}

.field-container-field:last-child,
.field-container-item:last-child {
    border-radius: 0 2px 2px 0;
}

.field-container-field-no-padding {
    padding: 0;
}