
/* Daten Tabelle
 ======================================================= */

.data-table,
.data-table-nowidth {
    background-color: #fff;
    border: 1px solid #dedede;
    border-collapse: collapse;
    clear: both;
    float: left;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.data-table {
    width: 100%;
}

.data-table th,
.data-table-no-width th {
    color: #003399;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    text-align: left;
}

.data-table td,
.data-table-nowidth td {
    color: #666699;
    line-height: 30px;
    padding: 8px;
    vertical-align: top;
}

.data-table .odd,
.data-table-nowidth .odd {
    background: none repeat scroll 0 0 #E8EDFF;
}

.data-table .data,
.data-table-nowidth .data {
    color: #333;
}

.data-table td.label-text {
    width: 160px;
}

.data-table td label {
    float: left;
    margin: 0 10px;
    width: 150px;
}

.data-table td p {
    clear: both;
    float: left;
}

.data-table input.int,
.data-table-nowidth input.int {
    width: 80px;
}
