
.controls-upload-form {
    position: relative;
    width: 100%;
}

.controls-upload-form-disabled {
    opacity: 0.5;
}

.controls-upload-form form {
    border: 3px dashed #dedede;
    height: calc(100% - 30px);
    float: left;
    overflow: auto;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 2;
}

.controls-upload-info {
    background: #dedede;
    clear: both;
    color: #333;
    float: left;
    font-size: 10px;
    text-align: right;
    padding: 3px 5px;
    width: 100%;
}

.controls-upload-buttons {
    clear: both;
    float: left;
    height: 30px;
    position: relative;
    width: 100%;
    z-index: 2;
}

.controls-upload-buttons button {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.controls-upload-bg-text {
    color: #999;
    font-size: 14px;
    height: calc(100% - 30px);
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    width: 100%;
    z-index: 1;
}

.controls-upload-bg-text p {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.qui-form-upload {
    clear: both;
    float: left;
    margin: 2px 0;
    visibility: hidden;
    width: 100%;
}

.qui-form-upload input {
    float: left;
    margin: 2px;
}

.controls-upload-form-fileinfo {
    background-repeat: no-repeat;
    background-position: 5px center;
    clear: both;
    float: left;
    overflow: hidden;
    padding: 5px 5px 5px 25px;
    text-overflow: ellipsis;
    width: calc(100% - 40px);
    white-space: nowrap;
}

.controls-upload-form-fileinfo:hover {
    background-color: #2F8FC6;
    color: #fff;
}

/** icon design
 ================================== */

.controls-upload-form--icon {
    border: 1px solid #dedede;
    display: inline-block;
    width: initial;
}

.controls-upload-form--icon form {
    border: none;
    padding: 0;
}

.controls-upload-form--icon form input {
    display: none;
}

.controls-upload-form--icon .controls-upload-icon {
    cursor: pointer;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.controls-upload-form-submit {
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.controls-upload-form-submit span {
    padding: 0 5px;
}


/** single design
 ================================== */

.controls-upload-form--single {
    max-width: 400px;
    width: 100%;
}

.controls-upload-form--single form {
    border: none;
    padding: 0;
}

.controls-upload-form-single {
    display: flex;
}

.controls-upload-form-single input {
    display: none;
}

.controls-upload-form-single-container {
    display: flex;
    width: calc(100% - 130px);
}

.controls-upload-form-single-container-preview {
    background-color: rgba(0, 0, 0, 0.2);
    background-position: center;
    background-size: cover;

    display: inline-block;
    height: 30px;
    overflow: hidden;
    width: 30px;
}

.controls-upload-form-single-container-preview img {
    max-width: 100%;
}

.controls-upload-form-single-container-select-placeholder {
    color: #bebebe;
}

.controls-upload-form-single-container-select {
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 30px);
}

.controls-upload-form-single-container-select:hover {
    background: rgba(0, 0, 0, 0.05);
}

.controls-upload-form--single .controls-upload-form-submit {
    display: inline-block;
    width: 130px;
}
