
.upload-manager-file {
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    padding: 10px;
    border-bottom: 1px solid #DEDEDE;
    cursor: pointer;
}

.upload-manager-file:hover {
    background: #2F8FC6;
    color: #fff;
}

.upload-manager-file .file-name {
    float: left;
}

.upload-manager-file .upload-time {
    float: right;
}

.upload-manager-file .progress {
    float: left;
    clear: both;
    width: 100%;
}

