
.quiqqer-dashboard-last-edit,
.quiqqer-dashboard-last-messages {
    float: left;
    width: calc( 50% - 20px );
}

.quiqqer-dashboard-links {
    clear: both;
    float: left;
    width: calc( 100% - 20px );
}

.quiqqer-dashboard-box {
    border: 1px solid #DDD;
    margin: 10px;
    padding: 0;
}

.quiqqer-dashboard-box h2 {
    background: #dedede;
    color: #8f9399;
    font-size: 14px;
    margin: 0;
    padding: 10px;
}

.quiqqer-dashboard-box-content {
    float: left;
    height: 300px;
    overflow: auto;
    padding: 20px;
    width: 100%;
}

.quiqqer-dashboard-last-edit-result-entry {
    clear: both;
    cursor: pointer;
    color: #212527;
    float: left;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.quiqqer-dashboard-last-edit-result-entry:nth-child(odd) {
    background: #eee;
}

.quiqqer-dashboard-last-edit-result-entry .fa {
    margin-right: 10px;
}

.quiqqer-dashboard-last-edit-result-entry:hover {
    background: #2f8fc6;
    color: #fff;
}