
.qui-xml-panel input {
    float: left;
    line-height: 30px;
    margin-right: 10px;
}

.qui-xml-panel label {
    cursor: pointer;
    white-space: nowrap;
}

.qui-xml-panel .description {
    clear: both;
    float: left;
    margin-top: 10px;
    font-style: italic;
}
