/* ******************************************************* */

.omnigrid {
    --_grid-fontFamily: var(--grid-fontFamily, Verdana, Geneva, Arial, Helvetica, sans-serif);
    --_grid-fontSize: var(--grid-fontSize, 11px);
    --_grid-fontColor: var(--grid-fontColor, inherit);

    /* cell */
    --_grid-cellPaddingLeft: var(--grid-cellPaddingLeft, 1rem);
    --_grid-cellPaddingRight: var(--grid-cellPaddingRight, 1rem);
    --_grid-cellPaddingTop: var(--grid-cellPaddingTop, 0.75rem);
    --_grid-cellPaddingBottom: var(--grid-cellPaddingBottom, 0.75rem);
    --_grid-cellBorderLeftWidth: var(--grid-cellBorderLeftWidth, 1px);
    --_grid-cellBorderLeftColor: var(--grid-cellBorderLeftColor, transparent);
    --_grid-cellBorderRightWidth: var(--grid-cellBorderRightWidth, 0px);
    --_grid-cellBorderRightColor: var(--grid-cellBorderRightColor, transparent);
    --_grid-cellBorderBottomWidth: var(--grid-cellBorderBottomWidth, 1px);
    --_grid-cellBorderBottomColor: var(--grid-cellBorderBottomColor, #f1f1f1);

    /**
     Control sizing of the grid table. This value affect top and bottom cell padding.
     Value less than 1 results in compacter table. Recommended values are between 0.5 and 1.5.
     */
    --_grid-sizingMultiplier: var(--grid-sizingMultiplier, 1);

    --_grid-dragElmWidth: var(--grid-dragElmWidth, 8px);
    --_grid-dragElmColor: var(--grid-dragElmColor, #333);

    /* header (hDiv) */
    --_grid-hBg: var(--grid-hBg, #eee);
    --_grid-hBgHover: var(--grid-hBgHover, rgba(0,0,0,0.05));
    --_grid-hBorderColor: var(--grid-hBorderColor, #ddd);
    --_grid-hBorderWidth: var(--grid-hBorderWidth, 0);

    /* body (bDiv) */
    --_grid-bBg: var(--grid-bBg, #ffffff);
    --_grid-bCellBottomColor: var(--_grid-bCellBottomColor, #f1f1f1);
    --_grid-bCellBottom: var(--_grid-bCellBottomColor, #f1f1f1);

    font-family: var(--_grid-fontFamily);
    font-size: var(--_grid-fontSize);
    position: relative;
    border: 0 solid #eee;
    overflow: hidden;
    color: var(--_grid-fontColor);
    clear: both;
}

.omnigrid div.hDivBox {
    position: relative;
    overflow: hidden;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--grid-gridTemplateColumns);
}

.omnigrid .bDiv .tr {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--grid-gridTemplateColumns);
    border-bottom: var(--_grid-cellBorderBottomWidth) solid var(--_grid-cellBorderBottomColor);
}

.omnigrid .bDiv .tr + .tr:last-child {
    border-bottom: none;
}

.omnigrid {
    display: flex;
    flex-flow: column;
}

.tDiv, .hDiv, .pDiv {
    flex-shrink: 0;
}

.omnigrid div.hDiv {
    background: var(--_grid-hBg);
    position: relative;
    border-bottom: var(--_grid-hBorderWidth) solid var(--_grid-hBorderColor);
    overflow: hidden;
}

.omnigrid div.bDiv {
    border-top: 0;
    background: var(--_grid-bBg);
    overflow: auto;
    position: relative;

    flex-grow: 1;
}

.omnigrid div.hDiv .th,
.omnigrid div.bDiv .td {
    text-align: left;
    border-right: var(--_grid-cellBorderRightWidth) solid var(--_grid-cellBorderRightColor);
    border-left: var(--_grid-cellBorderLeftWidth) solid var(--_grid-cellBorderLeftColor);
    vertical-align: top !important;

    display: inline-block;
    float: left;

    white-space: nowrap;
    overflow: hidden;

    /*padding-left: 5px;*/
    padding-top: calc(var(--_grid-sizingMultiplier) * var(--_grid-cellPaddingBottom));
    padding-bottom: calc(var(--_grid-sizingMultiplier) * var(--_grid-cellPaddingBottom));
    padding-left: calc(var(--_grid-sizingMultiplier) * 0.5 * var(--_grid-cellPaddingLeft));
    padding-right: calc(var(--_grid-sizingMultiplier) * 0.5 * var(--_grid-cellPaddingRight));
    -moz-user-select: text;
    cursor: pointer;
    text-overflow: ellipsis;

    box-sizing: content-box;
}

.omnigrid div.hDiv .th:first-child,
.omnigrid div.bDiv .td:first-child {
    border-left: none;
}

.grid-align-right {
    padding-left: 0 !important;
    padding-right: 5px;
    text-align: right !important;
}

.grid-align-center {
    text-align: center !important;
}

.omnigrid div.bDiv .td [class^="fa-"],
.omnigrid div.bDiv .td [class*=" fa-"],
.omnigrid div.bDiv .td [class^="icon-"],
.omnigrid div.bDiv .td [class*=" icon-"] {
    font-size: 16px;
}

.omnigrid .selection {
    background-color: transparent;
}

.omnigrid div.hDiv div.th {
    border-bottom: 1px solid var(--grid-hBorderColor);
    line-height: 24px;
    min-height: 24px;
    font-weight: bold;
    border-left-style: dashed;
    border-right-style: dashed;

    display: flex;
}

.omnigrid div.hDiv:hover div.th {
    border-left-color: #ccc;
    border-right-color: #ccc;
}

.omnigrid div.bDiv .td {
    line-height: 27px;
    min-height: 24px;
}

.omnigrid div.bDiv .td.clickable:hover {
    background: #2F8FC6;
    color: #fff;
}

.omnigrid div.bDiv .td img {
    float: left;
    margin: 0;
    padding: 0;
    max-height: 40px;
}

.omnigrid div.bDiv ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    min-width: 100%;
}

.omnigrid div.bDiv ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    min-width: 100%;
}

.omnigrid li.erow {
    background-color: #f7f7f7;
}

.omnigrid li.selected {
    background-color: #d9e6f4 !important;
}

.omnigrid li.over {
    background-color: #eaeff4;
}

.omnigrid .data-empty {
    color: #999;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.omnigrid .data-empty-cell {
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
}

/* ************************************** */
/* ************** Accordian ************** */
/* ************************************** */

.omnigrid div.bDiv .toggleicon {
    background-image: url("omnigrid/plusminus.gif");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: 4px 3px 0 0;
}

.omnigrid div.bDiv ul li.section {
    display: none;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    position: relative;
}

.omnigrid div.bDiv ul li.section:after {
    background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(0, 0, 0, 0.65) 0px, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 10px;
    left: 0;
    opacity: 0.4;
    position: absolute;
    width: 100%;
}

.omnigrid div.bDiv ul li.section ul {
    border-bottom: none;
    left: initial;
    list-style-type: circle;
    overflow: visible;
    padding-left: 20px;
    position: relative;
    top: initial;
}

.omnigrid div.bDiv ul li.section ul > li {
    list-style-type: circle;
    overflow: visible;
}

/* ************************************** */
/* ************** Toolbar *************** */
/* ************************************** */

.omnigrid div.tDiv {
    overflow: hidden;
    position: relative;
    margin-bottom: 0.5rem;
}

.omnigrid div.fbutton {
    margin-top: 1px;
    float: left;
    display: block;
    cursor: pointer;
    padding: 1px;
}

.omnigrid div.fbutton div {
    float: left;
    padding: 1px 3px;
}

.omnigrid div.fbutton span {
    float: left;
    display: block;
    padding: 3px;
}

.omnigrid div.fbutton.fbOver {
    padding: 0;
    border: 1px solid #E2E8F0;
}

.omnigrid div.fbutton.fbOver div {
    padding: 0 2px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.omnigrid div.btnseparator {
    float: left;
    height: 22px;
    border-left: 1px solid #E2E8F0;
    border-right: 1px solid #fff;
    margin: 2px;
}

/* end toolbar*/

/* ************************************** */

/* ************************************** */
/* ************** Filter **************** */
/* ************************************** */
.omnigrid li.hide {
    display: none !important;
}

/* ************************************** */
/* ************** Columns size drag ***** */
/* ************************************** */
.omnigrid div.cDrag {
    float: left;
    position: absolute;
    z-index: 2;
    overflow: visible;

    height: 100%;
    top: 0;
}

/**
  1. Position the drag element between two cells
 */
.omnigrid div.cDrag .dragElm {
    background: none;
    display: block;
    position: absolute;
    height: 100%;
    width: var(--_grid-dragElmWidth);
    margin-left: calc(var(--_grid-dragElmWidth) / -2); /* 1 */
    cursor: col-resize;

}

.omnigrid div.cDrag .dragElm.dragging {
    background-image: linear-gradient(90deg, transparent calc(50% - 1px), black calc(50% - 1px), black calc(50% + 1px), transparent calc(50% + 1px));

}

/* ************************************** */
/* ************** Sort ****************** */
/* ************************************** */
.omnigrid div.hDiv div.DESC,
.omnigrid div.hDiv div.ASC {
    background-color: var(--_grid-hBgHover);
    position: relative;;
}

.omnigrid div.hDiv div.DESC:after,
.omnigrid div.hDiv div.ASC:after {
    font-family: 'FontAwesome';
    margin-left: 0.5rem;
}

.omnigrid div.hDiv div.DESC:after {
    content: "\f0dd";
}

.omnigrid div.hDiv div.ASC:after {
    content: "\f0d8";
}

/* ************************************** */
/* ************** Pagination ************ */
/* ************************************** */
.omnigrid .pDiv {
    background: #EFEFEF;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.5;
    font-size: 0.95em;
    padding-inline: 0.5rem;
    --inputPadding: 0.25rem 0.75rem;
}

.omnigrid .pDiv2 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.omnigrid .pGroup {
    padding-block: 0.5rem;
}

.pGroup--alignRight {
    margin-left: auto;
}

.omnigrid .pDiv .pcontrol {
    overflow: visible;
    color: #777777;
}

.omnigrid .pDiv .pPageStat {
    opacity: 0.5;
    overflow: visible;
}

.omnigrid .pDiv select {
    line-height: inherit;
    padding: var(--inputPadding);
    padding-right: 2em;
    height: initial;
    font-size: inherit;
}

.omnigrid .pDiv input {
    line-height: inherit;
    padding: var(--inputPadding);
    position: relative;
    font-size: inherit;
}

.omnigrid .pDiv span {
    padding: 0 2px;
}

.omnigrid .pDiv .btnseparator {
    height: 19px;
}

.omnigrid .pDiv .pButton {
    cursor: pointer;
    padding: var(--inputPadding);
    line-height: inherit;
    border-radius: 0.5rem;
    opacity: 0.5;
    aspect-ratio: 1/1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.75em;
    font-size: 1.25em;
    font-weight: inherit;
    background-color: transparent;
    color: inherit;
}

.omnigrid .pDiv .pButton:hover {
    background-color: rgba(0,0,0,0.075);
    opacity: 1;
}

.omnigrid .pDiv .pButton > .fa {
    margin: 0;
    line-height: inherit;
}

.omnigrid2 .pDiv .pButton:hover,
.omnigrid2 .pDiv .pButton.pBtnOver {
    border: 1px solid #E2E8F0;
    cursor: pointer;
    padding: var(--inputPadding);
}

.omnigrid .pSearch {
    background: url("omnigrid/magnifier.png") no-repeat center;
}

.omnigrid .pFirst,
.omnigrid .pPrev,
.omnigrid .pNext,
.omnigrid .pLast,
.omnigrid .pReload,
.omnigrid .pExport,
.omnigrid .pSizing,
.omnigrid .pSort {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.omnigrid .pSort {
    float: right !important;
    text-align: center;
}

.omnigrid .pFirst:after {
    content: "\f049";
}

.omnigrid .pPrev:after {
    content: "\f048";
}

.omnigrid .pNext:after {
    content: "\f051";
}

.omnigrid .pLast:after {
    content: "\f050";
}

.omnigrid .pReload:after {
    content: "\f021";
}

.omnigrid .pExport:after {
    content: "\f019";
}

.omnigrid .pSizing[data-qui-tableSizing="normal"]:after {
    content: "\f00a";
}

.omnigrid .pSizing[data-qui-tableSizing="small"]:after {
    content: "\f009";
}

.omnigrid .pSelectAll {
    background: url("omnigrid/selAll.png") no-repeat center;
}

.omnigrid .pUnselectAll {
    background: url("omnigrid/selNone.png") no-repeat center;
}

.omnigrid .pSelectAll:after,
.omnigrid .pUnselectAll:after {
    content: '';
}

/* ************************************************************************************ */

.tDiv .sButton_middle2,
.tDiv .sButton_middle2 span {
    line-height: 16px;
    float: left;
}

.omnigrid .ptools-btn2-text {
    line-height: 16px;
}

.omnigrid .elementloader {
    align-items: center;
    display: flex;
    font-size: 3rem;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* *************************************** */
/* ************** Inline-Edit ************ */
/* *************************************** */

.omnigrid input.inline {
    font-family: inherit;
    font-size: inherit;
    /*padding: 1px 2px 1px 2px;*/
}

.omnigrid textarea.inline {
    font-family: inherit;
    font-size: inherit;
    /*padding: 1px 2px 1px 2px;*/
}

/* **** Section Table **** */

.section caption {
    text-align: center;
    font: bold 16px arial, helvetica, sans-serif;
    background: transparent;
    padding: 6px 4px 8px 0;
    color: #CC00FF;
    text-transform: uppercase;
}


/** Drag and Drop Element
 ***********************************************/

.omni-drag-drop {
    min-width: 100px;
    height: 20px;
    border: 5px solid #ddd;
    background-color: #fff;
    line-height: 20px;
    padding: 0 10px;

    border-radius: 2px;
    cursor: pointer;
}

.omnigrid button {
    border: 0 none;
    white-space: nowrap;
    margin: 5px;
}

.omnigrid .qui-buttons-separator {
    border-right: 2px solid #CCCFD5;
    float: left;
    height: 30px;
    margin: 5px 5px 0 5px;
}

.omnigrid .grid-disabled {
    background: #fff;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

/** QUI Elements
 ***********************************************/

.omnigrid .qui-switch {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 0px 1px #ddd;
}

.qui-switch-button {
    box-shadow: 0 0 3px 0 #585858;
}

.omnigrid .qui-switch-text-on,
.omnigrid .qui-switch-text-off,
.omnigrid .qui-switch-icon-on,
.omnigrid .qui-switch-icon-off {
    font-size: 12px !important;
}

/**************************************/
/* Grid settings window / sort window */
/**************************************/
.grid-settingsWindow .resetGrid-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.grid-settingsWindow .resetGrid-container input[name="resetGridCheckbox"] {
    vertical-align: middle;
}

:where(.grid-settingsWindow .resetGrid-container .btn) {
    background: #dc4139;
    border-color: #dc4139;
    color: #fff;
    border-style: solid;
    border-radius: 0.25em;
    cursor: pointer;
}

:where(.grid-settingsWindow .resetGrid-container .btn:focus) {
    box-shadow: none;
}

.grid-settingsWindow .resetGrid-container .error > .fa {
    vertical-align: middle;
    margin-right: 0.5rem;
    margin-left: 0.25rem;
    transform: scaleX(-1);
}

.grid-settingsWindow .resetGrid-container__desc {
    display: block;
    margin-top: 0.5rem;
}

.grid-dd {
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
}

.grid-dd ul {
    border-top: 1px solid #dedede;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.grid-dd li {
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    cursor: pointer;
    list-style-type: none;
    line-height: 30px;
    padding-left: 10px;
    position: relative;
}

.grid-dd li input {
    float: left;
    margin-right: 10px;
    margin-top: 9px;
}

.grid-dd li:hover {
    background: #ededed;
}

.grid-dd-placeholder {
    background: #fff;
    cursor: pointer;
    height: 100%;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 100%;
}

.grid-dd-active .grid-dd-placeholder {
    background: #2f8fc6;
    color: #fff;
}

/**********/
/* Export */
/**********/

/* export: aside */
.qui-window-sidebar {
    display: flex;
    height: 100%;

    container-name: windowContent;
    container-type: inline-size;
}

.qui-window-sidebar__aside {
    flex-shrink: 0;
    flex-grow: 0;
    width: max(30%, 250px);
    background: #f2f2f2;
    padding: 1rem;
}

@container windowContent (max-width: 500px) {
    .qui-window-sidebar__aside {
        display: none;
    }
}

ul.nav {
    margin: 0;
    padding: 0;
}

li.nav__item {
    list-style: none;
    margin-bottom: 0.5rem;
}

.nav__link {
    border-radius: var(--border-radius, 0.75rem);
    padding: 1rem;
    border: none;
    background: none;
    width: 100%;
    color: inherit;
    text-align: left;
    display: flex;
    align-items: baseline;
}

.nav__link:hover,
.nav__link:active,
.nav__link:focus {
    border: none;
    background: none;
    color: inherit;
}

.nav__link.active {
    color: inherit;
    background-color: #fff;
}

.nav__link > .fa {
    margin-right: 0.5em;
    flex-shrink: 0;
}

/* export: main */
.qui-window-sidebar__main {
    display: flex;
    padding: 1rem;
    flex-grow: 1;
}

.qui-window-sidebar__main .desc {
    margin-bottom: 1.5em;
}

.export-listWrapper {
    overflow: auto;
}

.export-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 0.5rem;
}

.export-item {
    border-radius: 0.5rem;
    background: #f2f2f2;
    border: none;
    padding: 0.25rem 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
    margin-bottom: 0;
    overflow: hidden;
}

.export-button {
    margin-top: auto;
    text-align: right;
    padding-top: 1rem;
}

.export-button > button {
    width: 100%;
}

/* default button styling */
:where(.export-button > button) {
    border: none;
    border-radius: 3px;
    background: #ededed;
    color: #606060;
    cursor: pointer;
    float: left;
    line-height: 30px;
    margin: 0;
    padding: 0 10px;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    -webkit-box-shadow: 0 0 2px #999;
}

:where(.export-button > button:disabled) {
    cursor: not-allowed;
}

.export-button > button > .fa {
    margin-left: 0.5em;
}

/* content slider */
.contentSlider__items {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.contentSlider__item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.export-item__text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.export-item__text--noLabel {
    opacity: 0.5;
    font-style: italic;
    font-size: 0.8rem;
}

/* export: file format */
.export-fileFormat__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 0.5rem;
}

label.export-fileFormat__item {
    margin-bottom: 0;
    background: #f8f8f8;
    padding: 1rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;;
}

.export-fileFormat__item > .fa {
    font-size: 2em;
}

.export-fileFormat__item > .label {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.export-fileFormat__item > .text {
    letter-spacing: 2px;
    font-family: monospace;
    opacity: 0.5;
}

.export-fileFormat__item:has(input:checked) {
    outline: 2px solid;
    outline-offset: -2px;
}

/* ??? */
.exportFrame {
    padding: 5px 3px 3px 10px;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -100px;
    top: -100px;
}
