.quiqqer-formatsettings {
    clear: both;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.quiqqer-formatsettings-setting {
    float: left;
    clear: both;
    margin-bottom: 5px;
    width: 100% !important;
}

.quiqqer-formatsettings-setting-text {
    line-height: 30px;
}

/** flexbox tables
 =================================================== */

.field-container .quiqqer-formatsettings-list {
    border-bottom: 1px solid rgba(147, 128, 108, 0.25);
    border-top: 1px solid rgba(147, 128, 108, 0.25);
    border-right: 1px solid rgba(147, 128, 108, 0.25);
    flex: 1;
}

.field-container .quiqqer-formatsettings-title {
    background: rgb(242, 242, 242);
    padding: 10px;
    width: 100%;
}

.field-container .quiqqer-formatsettings-setting {
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}

.field-container .quiqqer-formatsettings-setting:hover {
    border: 1px solid #a4a9ae;
}

.field-container .quiqqer-formatsettings-setting input {
    border: 0;
    width: calc(100% - 350px);
}

.field-container .quiqqer-formatsettings-setting-text {
    border-right: 1px solid rgba(147, 128, 108, 0.25);
    cursor: pointer;
    float: left;
    padding: 0 10px;
    width: 350px;
}