
.users-input {
    float: left;
    position: relative;
    display: block;
}

.users-input-entry {
    float: left;
    margin: 5px;
    cursor: pointer;
}

.users-input-dropdown {
    position: absolute;
    z-index: 10;
    width: 200px;
    padding: 5px;
    border: 1px solid #dedede;
    background: #fff;
}

.users-input-dropdown .hover {
    background-color: #2F8FC6;
    color: #FFFFFF;
}

.users-input-dropdown .mark {
    font-weight: bold;
    color: red;
}