.quiqqer-login {
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 180px;
    position: relative;
}

.quiqqer-login form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    width: 100%;
}

.quiqqer-users-login-socialAuthenticator {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.quiqqer-login .quiqqer-frontend-social-button {
    width: 100%;
}

.quiqqer-users-login-or {
    border-top: 1px solid #CFD2D2;
    clear: both;
    color: #CFD2D2;
    float: left;
    line-height: 30px;
    margin: 2rem 0 1.5rem;
    text-align: center;
    position: relative;
    height: 10px;
    width: 100%;
}

.quiqqer-users-login-or-text {
    background: #fff;
    color: #666666;
    font-size: 16px;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    top: -15px;
}

.quiqqer-login-logo {
    display: block;
    margin: 0 auto;
}

.quiqqer-login-language {
    position: absolute;
    right: 20px;
    top: 0;
}
