.quiqqer-login {
    display: flex;
    flex-direction: column;
    min-height: 180px;
    position: relative;
}

.quiqqer-login form {
    position: relative;
    width: 100%;
}

.quiqqer-users-login-social {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quiqqer-login-or {
    margin-block: 1rem;
    text-align: center;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--qui-colors-muted);
}

.quiqqer-login-or:before,
.quiqqer-login-or:after {
    content: "";
    display: inline-block;
    height: 1px;
    flex-grow: 1;
    background-color: currentColor;
}

.quiqqer-login-logo {
    display: block;
    margin: 0 auto;
}

.quiqqer-login-language {
    position: absolute;
    right: 20px;
    top: 0;
}

.quiqqer-login .quiqqer-frontend-social-button {
    width: 100%;
}