.quiqqer-login {
    background: #fff;
    min-height: 180px;
    overflow: auto;
    padding: 20px;
    position: relative;
}

.quiqqer-login form {
    position: relative;
    top: 0;
}

.quiqqer-login-or {
    border-top: 1px solid #cfd2d2;
    clear: both;
    color: #cfd2d2;
    float: left;
    margin: 30px 0;
    position: relative;
    width: 100%;
}

.quiqqer-login-or span {
    background: none repeat scroll 0 0 #ffffff;
    color: #666666;
    font-size: 16px;
    left: 50%;
    line-height: 20px;
    margin: 0 0 0 -25px;
    position: absolute;
    text-align: center;
    top: -12px;
    width: 50px;
}

.quiqqer-login-logo {
    display: block;
    margin: 0 auto;
}

.quiqqer-login-language {
    position: absolute;
    right: 20px;
    top: 0;
}
