
/** user search
 * =============================================== */

.user-search-form {
    margin: 10px;
}

.user-search-form .date {
    float: left;
}

.user-search-form-field {
    float: left;
    line-height: 16px;
}

.user-search-filter-c1 {
    width: 100px;
}

.user-search-form .data-table td {
    line-height: 34px;
}

.user-search-table-input {
    float: left;
    padding: 10px 10px 0 10px;
    width: 100%;
}

.user-search-table-filter,
.user-search-table-searchin {
    clear: none;
    float: left;
    padding: 0 10px 10px 10px;
    width: 50%;
}
