
.user-search-form {
	margin: 10px;
}

.user-search-form .date {
	float: left;
}

.user-search-form-field {
	float: left;
	line-height: 16px;
	margin: 2px;
}

.user-search-filter-c1 {
	width: 100px;
}