
.user-delete-window-list-entry {
    margin-bottom: 0.5rem;
}

.user-delete-window-list-entry-username {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
}

.user-delete-window-list-entry-uuid {
    display: inline-block;
    opacity: 0.5;
    width: 100%;
}

[data-name="user-search-filter"] {
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

[data-name="user-search-filter"] form {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
}

[data-name="user-search-filter"] form table:last-child {
    margin-bottom: 0;
}

[data-name="user-search-filter"] .data-table td {
    line-height: 20px;
    padding: 0;
}

[data-name="user-search-filter"] .field-container-field,
[data-name="user-search-filter"] .field-container-item {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
