@CHARSET "UTF-8";

.address-list {
    float: left;
    width: 100%;
}

.quiqqer-quiqqer-user-mail-extrasbtn .qui-button-multiple-dd {
    display: none !important;
}

.quiqqer-quiqqer-user-mail-extrasbtn > button {
    padding: 0 !important;
    text-align: center;
    width: 50px;
}

.quiqqer-quiqqer-user-mail-extrasbtn > button .qui-button-multiple-textimage {
    float: none;
}