
.address-list {
    float: left;
    width: 100%;
}

.quiqqer-quiqqer-user-mail-extrasbtn .qui-button-multiple-dd {
    display: none !important;
}

.quiqqer-quiqqer-user-mail-extrasbtn > button {
    padding: 0 !important;
    text-align: center;
    width: 50px;
}

.quiqqer-quiqqer-user-mail-extrasbtn > button .qui-button-multiple-textimage {
    float: none;
}


.user-delete-window-list-entry {
    margin-bottom: 0.5rem;
}

.user-delete-window-list-entry-username {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
}

.user-delete-window-list-entry-uuid {
    display: inline-block;
    opacity: 0.5;
    width: 100%;
}