<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="template.project.media.effect.header"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="media.blur"}
                </span>
                <span class="effect-blur field-container-field"></span>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="media.brightness"}
                </span>
                <span class="effect-brightness field-container-field"></span>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="media.contrast"}
                </span>
                <span class="effect-contrast field-container-field"></span>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="media.greyscale"}
                </span>
                <span class="field-container-field">
                    <input type="checkbox" name="effect-greyscale" value=""/>
                </span>
            </label>
        </td>
    </tr>
    </tbody>
</table>

<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="template.project.media.watermark.header"}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="media.watermark"}
                </span>
                <span class="effect-watermark field-container-field">
                    <input type="hidden" class="effect-watermark" name="effect-watermark" value=""/>
                </span>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="media.watermark.position"}
                </span>

                <select class="effect-watermark-position field-container-field"
                        name="effect-watermark_position"
                >
                    <option value=""></option>
                    <option value="top-left">
                        {locale group="quiqqer/quiqqer" var="watermark.position.top.left"}
                    </option>
                    <option value="top">
                        {locale group="quiqqer/quiqqer" var="watermark.position.top"}
                    </option>
                    <option value="top-right">
                        {locale group="quiqqer/quiqqer" var="watermark.position.top.right"}
                    </option>
                    <option value="left">
                        {locale group="quiqqer/quiqqer" var="watermark.position.left"}
                    </option>
                    <option value="center">
                        {locale group="quiqqer/quiqqer" var="watermark.position.center"}
                    </option>
                    <option value="right">
                        {locale group="quiqqer/quiqqer" var="watermark.position.right"}
                    </option>
                    <option value="bottom-left">
                        {locale group="quiqqer/quiqqer" var="watermark.position.bottom.left"}
                    </option>
                    <option value="bottom">
                        {locale group="quiqqer/quiqqer" var="watermark.position.bottom"}
                    </option>
                    <option value="bottom-right">
                        {locale group="quiqqer/quiqqer" var="watermark.position.bottom.right"}
                    </option>
                </select>

            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="projects.project.settings.panel.mediaSettings.watermark.ratio"}
                </span>
                <input name="effect-watermark_ratio"
                       class="effect-watermark-ratio field-container-field"
                       type="number"
                />
                <span class="field-container-item"
                      style="width: 50px; text-align: center">%</span>
            </label>
        </td>
    </tr>
    <tr class="effect-watermark-row">
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="media.watermark"}
                </span>
                <span class="effect-watermark-cell field-container-field field-container-field-no-padding"></span>
            </label>
        </td>
    </tr>
    </tbody>
</table>


<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="template.project.media.effect.preview.header"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td class="preview-frame"></td>
    </tr>
    </tbody>
</table>
