<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="projects.project.site.media.filePanel.image.external"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="projects.project.site.media.filePanel.image.external"}
                </span>
                <input type="text" name="externalUrl" class="field-container-field"/>
            </label>
            <div class="field-container-item-desc">
                {locale group="quiqqer/quiqqer" var="projects.project.site.media.filePanel.image.external.description"}
            </div>
        </td>
    </tr>
    </tbody>
</table>