<div class="qui-media-file-details">
	<table class="data-table">
		<thead>
			<tr>
				<th>Datei Informationen</th>
			</tr>
		</thead>

		<tbody>
			<tr class="{cycle values="odd,even"}">
				<td>Name</td>
				<td><input type="text" name="file_name" value="" /></td>

				<td>Titel</td>
				<td><input type="text" name="file_title" value="" /></td>
				<td>&nbsp;</td>
			</tr>
			<tr class="{cycle values="odd,even"}">
				<td>Alternativ Text</td>
				<td><input type="text" name="file_alt" value="" /></td>

			</tr>

			<tr class="{cycle values="odd,even"}">
				<td>Datei</td>
				<td><input type="text" name="file_file" disabled="disabled" value="" /></td>

				<td>Dateipfad</td>
				<td><input type="text" name="file_url" disabled="disabled" value="" /></td>
				<td>&nbsp;</td>
			</tr>

			<tr class="{cycle values="odd,even"}">
				<td>Typ</td>
				<td><input type="text" name="file_type" disabled="disabled" value="" /></td>

				<td>Größe</td>
				<td><input type="text" name="file_size" disabled="disabled" value="" /></td>
				<td>&nbsp;</td>
			</tr>
			<tr class="{cycle values="odd,even"}">
				<td>Zuletzte Geändert am</td>
				<td><input type="text" name="file_edate" disabled="disabled" value="" /></td>

				<td>Dimension</td>
				<td><input type="text" name="file_dimension" disabled="disabled" value="" /></td>
				<td>&nbsp;</td>
			</tr>
			<tr class="{cycle values="odd,even"}">
                <td>MD5 Hash</td>
                <td><input type="text" name="file_md5" disabled="disabled" value="" /></td>

                <td>SHA1 Hash</td>
                <td><input type="text" name="file_sha1" disabled="disabled" value="" /></td>
                <td>&nbsp;</td>
            </tr>
		</tbody>
	</table>

	<table class="data-table">
		<thead>
			<tr>
				<th>Beschreibung</th>
			</tr>
		</thead>

		<tbody>
			<tr class="{cycle values="odd,even" reset=true}">
				<td>
					<textarea name="file_short" class="box"></textarea>
				</td>
			</tr>
		</tbody>
	</table>

</div>