<div class="qui-media-file-details">
    <table class="data-table data-table-flexbox site-data">
        <thead>
        <tr>
            <th>
                {locale group="quiqqer/quiqqer" var="template.project.media.file.header"}
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="name"}
                    </span>
                    <input type="text" name="file_name" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="title"}
                    </span>
                    <input type="text"
                           name="file_title"
                           class="field-container-field"
                           data-qui="controls/lang/InputMultiLang"
                    />
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="template.project.media.file.alttext"}
                    </span>
                    <input type="text"
                           name="file_alt"
                           class="field-container-field"
                           data-qui="controls/lang/InputMultiLang"
                    />
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="priority"}
                    </span>
                    <input type="number" name="file_priority" class="field-container-field"/>
                </label>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="data-table data-table-flexbox site-data">
        <thead>
        <tr>
            <th>{locale group="quiqqer/quiqqer" var="description"}</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <label class="field-container qui-media-file-details-short">
                    <textarea name="file_short" data-qui="controls/lang/ContentMultiLang"></textarea>
                </label>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="data-table data-table-flexbox site-data">
        <thead>
        <tr>
            <th>
                {locale group="quiqqer/quiqqer" var="template.project.media.file.header"}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="id"}
                    </span>
                    <input type="text" name="file_id" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="file"}
                    </span>
                    <input type="text" name="file_file" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="template.project.media.file.path"}
                    </span>
                    <input type="text" name="file_url" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="type"}
                    </span>
                    <input type="text" name="file_type" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="size"}
                    </span>
                    <input type="text" name="file_size" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="template.project.media.file.lastedit"}
                    </span>
                    <input type="text" name="file_edate" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="template.project.media.file.dimension"}
                    </span>
                    <input type="text" name="file_dimension" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        MD5 Hash
                    </span>
                    <input type="text" name="file_md5" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        SHA1 Hash
                    </span>
                    <input type="text" name="file_sha1" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        </tbody>
    </table>

</div>
