<div class="qui-media-folder-details">
    <table class="data-table data-table-flexbox site-data">
        <thead>
        <tr>
            <th>
                {t}quiqqer/quiqqer template.project.media.file.header{/t}
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {t}quiqqer/quiqqer name{/t}
                    </span>
                    <input name="name" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {t}quiqqer/quiqqer title{/t}
                    </span>
                    <input name="title"
                           class="field-container-field"
                           data-qui="controls/lang/InputMultiLang"
                    />
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {t}quiqqer/quiqqer description{/t}
                    </span>
                    <textarea name="short" class="field-container-field"
                              data-qui="controls/lang/ContentMultiLang"></textarea>
                </label>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="data-table data-table-flexbox site-data">
        <thead>
        <tr>
            <th>
                {t}quiqqer/quiqqer template.project.media.properties.header{/t}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {t}quiqqer/quiqqer id{/t}
                    </span>
                    <input type="text" name="id" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {t}quiqqer/quiqqer template.project.media.folder.path{/t}
                    </span>
                    <input type="text" name="file" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {t}quiqqer/quiqqer template.project.media.folder.size{/t}
                    </span>
                    <input type="text" name="size" disabled="disabled" class="field-container-field" value="---"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {t}quiqqer/quiqqer c_user{/t}
                    </span>
                    <input type="text" name="c_username" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {t}quiqqer/quiqqer c_date{/t}
                    </span>
                    <input type="text" name="c_date" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {t}quiqqer/quiqqer e_user{/t}
                    </span>
                    <input type="text" name="e_username" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {t}quiqqer/quiqqer e_date{/t}
                    </span>
                    <input type="text" name="e_date" disabled="disabled" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {t}quiqqer/quiqqer template.project.media.folder.order{/t}
                    </span>
                    <select name="order" class="field-container-field">
                        <option value=""></option>
                        <option value="priority ASC">
                            {locale group="quiqqer/quiqqer" var="priority_asc"}
                        </option>
                        <option value="priority DESC">
                            {locale group="quiqqer/quiqqer" var="priority_desc"}
                        </option>
                        <option value="c_date ASC">
                            {locale group="quiqqer/quiqqer" var="c_date_asc"}
                        </option>
                        <option value="c_date DESC">
                            {locale group="quiqqer/quiqqer" var="c_date_desc"}
                        </option>
                        <option value="name ASC">
                            {locale group="quiqqer/quiqqer" var="name_asc"}
                        </option>
                        <option value="name DESC">
                            {locale group="quiqqer/quiqqer" var="name_desc"}
                        </option>
                        <option value="title ASC">
                            {locale group="quiqqer/quiqqer" var="name_asc"}
                        </option>
                        <option value="title DESC">
                            {locale group="quiqqer/quiqqer" var="name_desc"}
                        </option>
                        <option value="id ASC">
                            {locale group="quiqqer/quiqqer" var="id_asc"}
                        </option>
                        <option value="id DESC">
                            {locale group="quiqqer/quiqqer" var="id_desc"}
                        </option>
                    </select>
                </label>
            </td>
        </tr>
        </tbody>
    </table>

</div>
