<table class="data-table qui-media-manager-hash">
   <thead>
       <tr>
           <th colspan="3">
               Datei Hashes neu berechnen
           </th>
       </tr>
   </thead>
   <tbody>
       <tr class="{cycle values="odd,even"}">
           <td>MD5 Hashes der Dateien neu berechnen:</td>
           <td class="md5hash"></td>
       </tr>
        <tr class="{cycle values="odd,even"}">
           <td>SHA1 Hashes der Dateien neu berechnen:</td>
           <td class="sha1hash"></td>
       </tr>

   </tbody>
</table>