
<form name="group-search" class="group-search-form" method="post">
	{title text="Suche nach:"}
	<div class="data-table">
		<input type="text" value="" name="search" class="group-search-form-field" />
	</div>

	{title text="Suche in:"}
	<div class="data-table">
		<div class="checkbox-container">
			<input type="checkbox" value="" name="gid" />
			<label for="gid">Gruppen-ID</label>
		</div>
		<div class="checkbox-container">
			<input type="checkbox" value="" name="name" />
			<label for="name">Gruppenname</label>
		</div>
	</div>
</form>
