<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            Information
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="group_id"}
                </span>
                <input type="text"
                       name="id"
                       value=""
                       disabled="disabled"
                       class="field-container-field"
                />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="groupname"}
                </span>
                <input type="text"
                       name="name"
                       value=""
                       class="field-container-field"
                />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="description"}
                </span>
                <textarea name="description"
                          class="field-container-field"
                          rows="4" cols="50"
                ></textarea>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="toolbar"}
                </span>
                <span class="toolbar-listing"></span>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    Elterngruppe
                </span>
                <input name="parent" data-qui="controls/groups/Select" data-qui-options-max="1"/>
            </label>
        </td>
    </tr>
    </tbody>
</table>
