
<table class="data-table">
<thead>
    <tr>
        <th colspan="2">Information</th>
    </tr>
</thead>
<tbody>
    <tr class="{cycle values="odd,even"}">
        <td style="width: 150px;">{t}Gruppen-ID{/t}</td>
        <td>
            <input type="text" name="id" value="" disabled />
        </td>
    </tr>
    <tr class="{cycle values="odd,even"}">
        <td>{t}Name{/t}</td>
        <td>
            <input type="text" name="name" value="" />
        </td>
    </tr>
    <tr class="{cycle values="odd,even"}">
        <td>{t}Toolbar{/t}</td>
        <td class="toolbar-listing"></td>
    </tr>
</tbody>
</table>
