<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            Information
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    Gruppen-ID
                </span>
                <input type="text"
                       name="id"
                       value=""
                       disabled="disabled"
                       class="field-container-field"
                />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    Name
                </span>
                <input type="text"
                       name="name"
                       value=""
                       class="field-container-field"
                />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="description"}
                </span>
                <input type="text"
                       name="description"
                       value=""
                       class="field-container-field"
                />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    Toolbar
                </span>
                <span class="toolbar-listing"></span>
            </label>
        </td>
    </tr>
    </tbody>
</table>
