@CHARSET "UTF-8";

.qui-users-and-groups {
    float: left;
    padding: 2px;
    position: relative;
    width: 100%;
}

.qui-users-and-groups-list {
    position: relative;
    z-index: 2;
}

.qui-users-and-groups-list .group-entry,
.qui-users-and-groups-list .users-entry {
    border-radius: 0;
    clear: both;
    cursor: default;
    float: left;
    margin: 0;
    max-width: none;
    padding: 5px;
    width: 100%;
}

.qui-users-and-groups-list .group-entry .text,
.qui-users-and-groups-list .users-entry .text {
    margin: 0;
    width: 80%;
}

.qui-users-and-groups-list .group-entry .close,
.qui-users-and-groups-list .users-entry .close {
    background-position: center right;
    width: 20%;
}

.qui-users-and-groups-list {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    float: left;
    height: 100px;
    overflow: auto;
    width: 100%;
}

.qui-users-and-groups-search {
    clear: both;
    float: left;
    margin-top: 2px;
    width: 100%;
}

.field-container-field > .qui-users-and-groups {
    max-width: none;
    padding: 0;
}

.field-container-field > .qui-users-and-groups .qui-users-and-groups-list {
    border-radius: 0;
    border-width: 0 0 1px 0;
}

.field-container-field > .qui-users-and-groups .qui-users-and-groups-search {
    border: none;
}

/** DropDown
 ======================================================= */

.qui-users-and-groups-dropdown {
    background: #fff;
    border: 1px solid #dedede;
    padding: 5px;
    position: absolute;
    width: 200px;
    z-index: 10;
}

.qui-users-and-groups-dropdown .mark {
    color: red;
    font-weight: bold;
}

.qui-users-and-groups-dropdown-entry {
    clear: both;
    cursor: pointer;
    float: left;
    padding: 5px;
    width: 100%;
}

.qui-users-and-groups-dropdown-entry-hover {
    background: #2F8FC6;
    color: #FFFFFF;
}
