.quiqqer-usersAndGroups-selectItem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    clear: both;
    cursor: default;
    float: left;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    width: 100%;
}

.quiqqer-usersAndGroups-selectItem:hover {
    background: rgba(0, 0, 0, 0.1);
}

.quiqqer-usersAndGroups-selectItem-icon {
    float: left;
    line-height: 20px;
    text-align: center;
    width: 30px;
}

.quiqqer-usersAndGroups-selectItem-text {
    float: left;
    line-height: 20px;
    overflow: hidden;
    padding: 0 10px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 50px);
}

.quiqqer-usersAndGroups-selectItem-destroy {
    cursor: pointer;
    float: left;
    line-height: 20px;
    text-align: center;
    visibility: hidden;
    width: 20px;
}

.quiqqer-usersAndGroups-selectItem:hover .quiqqer-usersAndGroups-selectItem-destroy {
    visibility: visible;
}

.quiqqer-usersAndGroups-selectItem-destroy:hover {
    background: #2F8FC6;
    color: #FFFFFF;
}
