<div id="media_popup_breadcrumb" style="margin: 3px auto; width: 720px; height: 26px; border-bottom: 1px solid #7c7c7c"></div>

<div style="width: 510px; height: 450px; clear: both; float: left; overflow: auto; position: relative">
	<div id="media_popup_files"></div>
</div>

<div style="position: relative; float: left; width: 220px; height: 450px; border-left: 1px solid #7c7c7c; margin-top: 5px;">

	<div id="media_popup_tools" style="float: left; width: 220px; height: 40px; text-align: center; padding-left: 10px">

	</div>

	<div id="media_popup_infos" style="margin-top: 20px; float: left; width: 220px; height: 400px">

	</div>

	<div id="upload_button" style="text-align: center; position: absolute; bottom: 0px; left: 10px;  width: 200px; height: 140px;">

	</div>
</div>