
.desktop-widget {
	float: left;
	margin: 10px;
	position: relative;
	overflow: hidden;

	background: #dedede;
	background: rgba(0, 0, 0, 0.3);
}

.desktop-widget-hover {
-webkit-box-shadow: 0 0 5px #096DD1;
   -moz-box-shadow: 0 0 5px #096DD1;
        box-shadow: 0 0 5px #096DD1;
}

.desktop-widget .inner-container {
	margin: 5px;
	padding: 5px;
	overflow: auto;
	float: left;
	background: #fff;
}
