<form name="create_project" action="" class="qui-projects-manager-create">

    <table class="data-table">
        <thead>
            <tr>
                <th colspan="2">
                    <h1>
                        {t}quiqqer/system template.project.create.header{/t}
                    </h1>
                    <p class="description">
                        {t}quiqqer/system template.project.create.description{/t}
                    </p>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="odd">
                <td>
                    <label for="">
                        {t}quiqqer/system template.project.label.name{/t}
                    </label>
                </td>
                <td>
                    <input type="text" name="project" value="" />
                </td>
            </tr>
            <tr class="even">
                <td>
                    <label for="">
                        {t}quiqqer/system template.project.label.language{/t}
                    </label>
                </td>
                <td>
                    <input type="text" name="lang" value="" />
                </td>
            </tr>
            <tr class="odd">
                <td>
                    <label for="">
                        {t}quiqqer/system template.project.label.template{/t}
                    </label>
                </td>
                <td>
                    <select name="template">
                        <option value="">
                            {t}quiqqer/system template.project.no.template{/t}
                        </option>

                        {assign var=PM value=$QUI->getPackageManager()}

                        {array var=params type="quiqqer-template"}
                        {assign var=templates value=$PM->getInstalled( $params )}

                        {foreach from=$templates item=tpl}
                            <option value="{$tpl.name}">{$tpl.name}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

</form>