<form name="create_project" action="" class="qui-projects-manager-create">

    <h1>Projekt erstellen</h1>
    <p class="desc">
        Legen Sie ein neues Projekt im System an.
    </p>
    <p class="desc">
        Dieses Projekt kann eine Webseite, Firmenseite, Shop oder auch ein Blog sein.
    </p>

    <p>
        <label for="">Projekt-Namen</label>
        <input type="text" name="project" value="" />
    </p>

    <p>
        <label for="">Projekt-Sprache</label>
        <input type="text" name="lang" value="" />
    </p>

    <p>
        <label for="">Project Template</label>
        <select name="template">
            <option value="">Kein Template verwenden</option>

            {assign var=PM value=$QUI->getPackageManager()}

            {array var=params type="quiqqer-template"}
            {assign var=templates value=$PM->getInstalled( $params )}

            {foreach from=$templates item=tpl}
                <option value="{$tpl}">{$tpl}</option>
            {/foreach}
        </select>
    </p>

</form>