
<form name="edit_project" action="" class="qui-projects-manager-edit">

    <table class="data-table">
    <thead>
        <tr>
            <th>Meta Angaben</th>
        </tr>
    </thead>
    <tbody>
        <tr class="{cycle values="odd,even"}">
            <td>Suchmaschinen Indizierung</td>
            <td>
                <select name="templates">
                    <option value="index" selected="selected">
                        Indizierung der Seite erlauben
                    </option>
                    <option value="noindex">
                        Indizierung der Seite nicht erlauben
                    </option>
                    <option value="nofollow">
                        Untergeordnete Seiten / Dateien nicht besuchen
                    </option>
                    <option value="noindex, nofollow">
                        Indizierung der Seite nicht erlaubt und untergeordnete Seiten / Dateien nicht besuchen
                    </option>
                    <option value="all">
                        Inhalte der Seite und aus untergeordneten Seiten besuchen und indizieren
                    </option>
                </select>
            </td>
        </tr>

        <tr class="{cycle values="odd,even"}">
            <td>Author</td>
            <td>
                <input type="text" value="" name="author" />
            </td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>Publisher</td>
            <td>
                <input type="text" value="" name="publisher" />
            </td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>Copyright</td>
            <td>
                <input type="text" value="" name="copyright" />
            </td>
        </tr>

    </tbody>
    </table>

</form>
{*
    author=""
    publisher=""
    copyright=""

    keywords=""
    description=""
*}