
<form name="edit_project" action="" class="qui-projects-manager-edit">

    <table class="data-table">
    <thead>
        <tr>
            <th>
                {t}quiqqer/system projects.project.settings.meta.settings.title{/t}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="{cycle values="odd,even"}">
            <td>
                {t}quiqqer/system projects.project.settings.meta.indexing{/t}
            </td>
            <td>
                <select name="templates">
                    <option value="index" selected="selected">
                        {t}quiqqer/system projects.project.settings.meta.indexing.index{/t}
                    </option>
                    <option value="noindex">
                        {t}quiqqer/system projects.project.settings.meta.indexing.noindex{/t}
                    </option>
                    <option value="nofollow">
                        {t}quiqqer/system projects.project.settings.meta.indexing.nofollow{/t}
                    </option>
                    <option value="noindex, nofollow">
                        {t}quiqqer/system projects.project.settings.meta.indexing.noindex_nofollow{/t}
                    </option>
                    <option value="all">
                        {t}quiqqer/system projects.project.settings.meta.indexing.all{/t}
                    </option>
                </select>
            </td>
        </tr>

        <tr class="{cycle values="odd,even"}">
            <td>
                {t}quiqqer/system projects.project.settings.meta.author{/t}
            </td>
            <td>
                <input type="text" value="" name="author" />
            </td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>
                {t}quiqqer/system projects.project.settings.meta.publisher{/t}
            </td>
            <td>
                <input type="text" value="" name="publisher" />
            </td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>
                {t}quiqqer/system projects.project.settings.meta.copyright{/t}
            </td>
            <td>
                <input type="text" value="" name="copyright" />
            </td>
        </tr>

    </tbody>
    </table>

</form>
{*
    author=""
    publisher=""
    copyright=""

    keywords=""
    description=""
*}