
<form name="projectAdminSettings" action="" class="qui-project-settings">

    <table class="data-table">
        <thead>
        <tr>
            <th colspan="2">
                {t}quiqqer/system projects.project.settings.panel.adminSettings.title{/t}
            </th>
        </tr>
        </thead>

        <tbody>
            <tr class="{cycle values="odd,even"}">
                <td class="first">
                    <label for="adminSitemapMax">
                        {t}quiqqer/system projects.project.settings.panel.adminSitemapMax{/t}
                    </label>
                </td>
                <td>
                    <input type="number" name="adminSitemapMax" value="" />
                </td>
            </tr>
        </tbody>
    </table>

</form>
