
<form name="projectMediaSettings" action="" class="qui-project-media-settings">

    <table class="data-table">
    <thead>
        <tr>
            <th colspan="2">
                {t}quiqqer/system projects.project.settings.panel.mediaSettings.title{/t}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr class="{cycle values="odd,even"}">
            <td class="first">
                {t}quiqqer/system projects.project.settings.panel.mediaSettings.maxUploadSize{/t}
            </td>
            <td>
                <input type="number" name="media_maxUploadSize" />
                <span style="line-height: 30px; padding-left: 10px;">px</span>
            </td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td colspan="2" class="first-100">
                <div class="description-no-padding">
                    {t}quiqqer/system projects.project.settings.panel.mediaSettings.maxUploadSize.description{/t}
                </div>
            </td>
        </tr>
    </tbody>
    </table>

    <table class="data-table">
        <thead>
        <tr>
            <th colspan="2">
                {t}quiqqer/system projects.project.settings.panel.mediaSettings.title{/t}
            </th>
        </tr>
        </thead>

        <tr>
        <tr class="{cycle values="odd,even"}">
            <td class="first">
                {t}quiqqer/system projects.project.settings.panel.mediaSettings.watermark{/t}
            </td>
            <td>
                <input type="text" class="media-image" name="media_watermark" />
            </td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td class="first">
                {t}quiqqer/system projects.project.settings.panel.mediaSettings.watermark.position{/t}
            </td>
            <td>
                <select name="media_watermark_position">
                    <option value=""></option>
                    <option value="top-left">
                        {t}quiqqer/system watermark.position.top.left{/t}
                    </option>
                    <option value="top">
                        {t}quiqqer/system watermark.position.top{/t}
                    </option>
                    <option value="top-right">
                        {t}quiqqer/system watermark.position.top.right{/t}
                    </option>
                    <option value="left">
                        {t}quiqqer/system watermark.position.left{/t}
                    </option>
                    <option value="center">
                        {t}quiqqer/system watermark.position.center{/t}
                    </option>
                    <option value="right">
                        {t}quiqqer/system watermark.position.right{/t}
                    </option>
                    <option value="bottom-left">
                        {t}quiqqer/system watermark.position.bottom.left{/t}
                    </option>
                    <option value="bottom">
                        {t}quiqqer/system watermark.position.bottom{/t}
                    </option>
                    <option value="bottom-right">
                        {t}quiqqer/system watermark.position.bottom.right{/t}
                    </option>
                </select>
            </td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td class="first">
                {t}quiqqer/system projects.project.settings.panel.mediaSettings.watermark.ratio{/t}
            </td>
            <td>
                <input type="number" name="media_watermark_ratio" />
                <span style="line-height: 30px; padding-left: 10px;">%</span>
            </td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td colspan="2" class="first-100">
                <div class="description-no-padding">
                    {t}quiqqer/system projects.project.settings.panel.mediaSettings.watermark.description{/t}
                </div>
            </td>
        </tr>
    </tbody>
    </table>

    <table class="data-table qui-media-manager-hash">
    <thead>
        <tr>
            <th colspan="2">
                {t}quiqqer/system projects.project.site.media.manager.general.tpl.title{/t}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="{cycle values="odd,even" reset=true}">
            <td class="first">
                {t}quiqqer/system projects.project.site.media.manager.general.recalc.md5{/t}
            </td>
            <td class="md5hash"></td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td class="first">
                {t}quiqqer/system projects.project.site.media.manager.general.recalc.sha1{/t}
            </td>
            <td class="sha1hash"></td>
        </tr>
    </tbody>
    </table>

</form>
