<form name="projectAdminSettings" action="" class="qui-project-settings">

    <table class="data-table data-table-flexbox">
        <thead>
        <tr>
            <th>
                {t}quiqqer/quiqqer projects.project.settings.panel.adminSettings.title{/t}
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="projects.project.settings.panel.adminSitemapMax"}
                    </span>
                    <input class="field-container-field" type="number" name="adminSitemapMax" value=""/>
                </label>
            </td>
        </tr>
        </tbody>
    </table>

</form>
