<form name="projectMediaSettings" action="" class="qui-project-media-settings">

    <table class="data-table data-table-flexbox">
        <thead>
        <tr>
            <th>
                {locale group="quiqqer/system" var="projects.project.settings.panel.mediaSettings.title"}
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale
                            group="quiqqer/quiqqer"
                            var="projects.project.settings.panel.mediaSettings.imageLibrary"
                        }
                    </span>

                    <select type="checkbox" name="media_image_library" class="field-container-field">
                        <option value="">
                            {locale
                            group="quiqqer/quiqqer"
                            var="projects.project.settings.panel.mediaSettings.imageLibrary.auto"
                            }
                        </option>
                        <option value="imagick">Image Magick</option>
                        <option value="gd">GD Lib</option>
                    </select>

                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale
                            group="quiqqer/quiqqer"
                            var="projects.project.settings.panel.mediaSettings.createCacheOnSave"
                        }
                    </span>
                    <span class="field-container-field">
                        <input type="checkbox" name="media_createCacheOnSave"/>
                    </span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                    {locale
                        group="quiqqer/system"
                        var="projects.project.settings.panel.mediaSettings.maxUploadSize"
                    }
                    </span>
                    <span class="field-container-field field-container-field-no-padding">
                        <input type="number" name="media_maxUploadSize"/>
                        <span style="line-height: 30px; padding-left: 10px;">px</span>
                    </span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="description-no-padding">
                    {locale group="quiqqer/system"
                    var="projects.project.settings.panel.mediaSettings.maxUploadSize.description"}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale
                            group="quiqqer/quiqqer"
                            var="projects.project.settings.panel.mediaSettings.maxUploadFileSize"
                        }
                    </span>
                    <span class="field-container-field field-container-field-no-padding">
                        <input type="number"
                               min="0"
                               name="media_maxUploadFileSize"
                               data-qui="controls/projects/project/settings/FileFormat"
                        />
                        <span style="line-height: 30px; padding-left: 10px;"> Byte</span>
                    </span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="description-no-padding">
                    {locale
                    group="quiqqer/quiqqer"
                    var="projects.project.settings.panel.mediaSettings.maxUploadFileSize.description"
                    }
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="data-table data-table-flexbox">
        <thead>
        <tr>
            <th>
                {locale group="quiqqer/system" var="projects.project.settings.panel.mediaSettings.title"}
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale
                            group="quiqqer/system"
                            var="projects.project.settings.panel.mediaSettings.watermark"
                        }
                    </span>
                    <input class="field-container-field media-image" type="text" name="media_watermark"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale
                            group="quiqqer/system"
                            var="projects.project.settings.panel.mediaSettings.watermark.position"
                        }
                    </span>

                    <select class="field-container-field" name="media_watermark_position">
                        <option value=""></option>
                        <option value="top-left">
                            {locale group="quiqqer/system" var="watermark.position.top.left"}
                        </option>
                        <option value="top">
                            {locale group="quiqqer/system" var="watermark.position.top"}
                        </option>
                        <option value="top-right">
                            {locale group="quiqqer/system" var="watermark.position.top.right"}
                        </option>
                        <option value="left">
                            {locale group="quiqqer/system" var="watermark.position.left"}
                        </option>
                        <option value="center">
                            {locale group="quiqqer/system" var="watermark.position.center"}
                        </option>
                        <option value="right">
                            {locale group="quiqqer/system" var="watermark.position.right"}
                        </option>
                        <option value="bottom-left">
                            {locale group="quiqqer/system" var="watermark.position.bottom.left"}
                        </option>
                        <option value="bottom">
                            {locale group="quiqqer/system" var="watermark.position.bottom"}
                        </option>
                        <option value="bottom-right">
                            {locale group="quiqqer/system" var="watermark.position.bottom.right"}
                        </option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale
                            group="quiqqer/system"
                            var="projects.project.settings.panel.mediaSettings.watermark.ratio"
                        }
                    </span>
                    <span class="field-container-field field-container-field-no-padding">
                        <input type="number" name="media_watermark_ratio"/>
                        <span style="line-height: 30px; padding-left: 10px;">%</span>
                    </span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="description-no-padding">
                    {locale
                    group="quiqqer/system"
                    var="projects.project.settings.panel.mediaSettings.watermark.description"
                    }
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="data-table data-table-flexbox qui-media-manager-hash">
        <thead>
        <tr>
            <th>
                {locale group="quiqqer/system" var="projects.project.site.media.manager.general.tpl.title"}
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/system" var="projects.project.site.media.manager.general.recalc.md5"}
                    </span>
                    <span class="field-container-field field-container-field-no-padding md5hash"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/system" var="projects.project.site.media.manager.general.recalc.sha1"}
                    </span>
                    <span class="field-container-field field-container-field-no-padding sha1hash"></span>
                </label>
            </td>
        </tr>
        </tbody>
    </table>

</form>
