
<form name="edit_project" action="" class="qui-project-settings">

    <table class="data-table">
        <thead>
            <tr>
                <th colspan="2">
                    Projekte Einstellungen
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="{cycle values="odd,even"}">
                <td class="first">
                    <label for="default_lang">Standard Sprache</label>
                </td>
                <td>
                    <select name="default_lang"></select>
                </td>
            </tr>
            <tr class="{cycle values="odd,even"}">
                <td class="first">
                    <label for="langs">Verfügbare Sprachen</label>
                </td>
                <td>
                    <select name="langs" size="3"></select>
                </td>
            </tr>
            <tr class="{cycle values="odd,even"}">
                <td class="first">
                    <label for="template">Standard Template</label>
                </td>
                <td>
                    <select name="template">
                        <option value="">Kein Template verwenden</option>

                        {assign var=PM value=$QUI->getPackageManager()}

                        {array var=params type="quiqqer-template"}
                        {assign var=templates value=$PM->getInstalled( $params )}

                        {foreach from=$templates item=tpl}
                            <option value="{$tpl.name}">{$tpl.name}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr class="{cycle values="odd,even"}">
                <td class="first">
                    <label for="templates">Verfügbare Templates für dieses Projekt</label>
                </td>
                <td>
                    <select name="templates" multiple="multiple" size="5">
                        {assign var=PM value=$QUI->getPackageManager()}

                        {array var=params type="quiqqer-template"}
                        {assign var=templates value=$PM->getInstalled( $params )}

                        {foreach from=$templates item=tpl}
                            <option value="{$tpl.name}">{$tpl.name}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr class="{cycle values="odd,even"}">
                <td class="first">
                    <label for="templates">Administrations E-Mail</label>
                </td>
                <td>
                    <input type="text" name="admin_mail" value="" />
                </td>
            </tr>

            <tr class="{cycle values="odd,even"}">
                <td class="first">
                    <label for="templates">Als standard Projekt setzen</label>
                </td>
                <td>
                    <input type="checkbox" name="standard" />
                </td>
            </tr>

        </tbody>
    </table>

</form>
