<div class="qui-search-content">
    <form name="site-search" class="qui-search-form">

        <div class="qui-search-elements">
            <label for="qui-search-string">
                {t}quiqqer/quiqqer template.project.site.search.title{/t}
            </label>
            <input type="text" name="qui-search-string" />
        </div>

        <fieldset>
            <legend>
                {t}quiqqer/quiqqer template.project.site.search.legend{/t}
            </legend>

            <div class="qui-search-checkbox-container">
                <input type="checkbox" name="id" />
                <label for="id">
                    {t}quiqqer/quiqqer id{/t}
                </label>
            </div>

            <div class="qui-search-checkbox-container">
                <input type="checkbox" name="name" />
                <label for="name">
                    {t}quiqqer/quiqqer name{/t}
                </label>
            </div>

            <div class="qui-search-checkbox-container">
                <input type="checkbox" name="title" />
                <label for="title">
                    {t}quiqqer/quiqqer title{/t}
                </label>
            </div>

            <div class="qui-search-checkbox-container">
                <input type="checkbox" name="short" />
                <label for="short">
                    {t}quiqqer/quiqqer short{/t}
                </label>
            </div>

            <div class="qui-search-checkbox-container">
                <input type="checkbox" name="content" />
                <label for="content">
                    {t}quiqqer/quiqqer content{/t}
                </label>
            </div>
        </fieldset>

    </form>

    <div class="qui-search-results"></div>
</div>