<div class="qui-search-content">
    <form name="site-search" class="qui-search-form">

        <div class="qui-search-elements">
            <label for="qui-search-string">Suche</label>
            <input type="text" name="qui-search-string" />
        </div>

        <fieldset>
            <legend>Felder die durchsucht werden</legend>

            <div class="qui-search-checkbox-container">
                <input type="checkbox" name="id" />
                <label for="id">ID</label>
            </div>

            <div class="qui-search-checkbox-container">
                <input type="checkbox" name="name" />
                <label for="name">Name</label>
            </div>

            <div class="qui-search-checkbox-container">
                <input type="checkbox" name="title" />
                <label for="title">Title</label>
            </div>

            <div class="qui-search-checkbox-container">
                <input type="checkbox" name="short" />
                <label for="short">Kurzbeschreibung</label>
            </div>

            <div class="qui-search-checkbox-container">
                <input type="checkbox" name="content" />
                <label for="content">Inhalt</label>
            </div>

        </fieldset>
    </form>

    <div class="qui-search-results"></div>
</div>