@CHARSET "UTF-8";

.qui-control-login {
    margin: 0 auto;
    max-width: 100%;
    width: 300px;
}

.qui-control-login label,
.qui-control-login input {
    clear: both;
    float: left;
    margin: 5px 0;
    width: 100%;
}
