
.group-entry {
    clear: both;
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin: 5px;
}

.group-entry-text {
    float: left;
    line-height: 20px;
    margin: 0 0 0 5px;
}

.group-entry-icon {
    float: left;
    line-height: 20px;
}

.group-entry-close {
    cursor: pointer;
    float: left;
    line-height: 20px;
    margin: 0 0 0 10px;
    padding: 0 10px;
    visibility: hidden;
}

.group-entry:hover .group-entry-close {
    visibility: visible;
}

.group-entry-close:hover {
    background: #2F8FC6;
    color: #FFFFFF;
}
