
/** group search
 * =============================================== */

.group-search-form {
    margin: 10px;
}

.group-search-form .date {
    float: left;
}

.group-search-form-field {
    float: left;
    line-height: 16px;
}
