<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/" name="file"
          group="quiqqer/system"
          var="menu.file.text"
    >
        Datei
    </item>
    <item parent="/" name="extras"
          group="quiqqer/system"
          var="menu.goto.text"
    >
        Gehe zu ...
    </item>
    <item parent="/" name="settings"
          group="quiqqer/system"
          var="menu.settings.text"
    >
        Einstellungen
    </item>
    <item parent="/" name="profil"
          group="quiqqer/system"
          var="menu.profil.text"
    >
        Einstellungen
    </item>
    <item parent="/" name="help"
          group="quiqqer/system"
          var="menu.help.text"
    >
        Hilfe
    </item>

    <!-- File Menu -->
        <item parent="/file/"
              name="search"
              icon="icon-search"
              require="controls/projects/project/site/Search"
              group="quiqqer/system"
              var="menu.file.search.text"
        />
        <item parent="/file/"
              name="file_close"
              icon="icon-remove-sign"
              group="quiqqer/system"
              var="menu.file.close.text"
        >
            Schließen
        </item>
        <item parent="/file/"
              name="file_exit"
              icon="icon-off"
              group="quiqqer/system"
              var="menu.file.logout.text"
              exec="logout();"
        >
            Beenden
        </item>

    <!-- Edit -->
    <!--
    <item parent="/edit/"
        name="edit_cut"
        icon="URL_DIR/bin/16x16/cut.png"
        disabled="1">
        Ausschneiden
    </item>
    <item parent="/edit/"
        name="edit_copy"
        icon="URL_DIR/bin/16x16/copy.png"
        disabled="1">
        Kopieren
    </item>
    <item parent="/edit/"
        name="edit_paste"
        icon="URL_DIR/bin/16x16/paste.png"
        disabled="1">
        Einfügen
    </item>
    <item parent="/edit/"
        name="linked"
        icon="URL_DIR/bin/16x16/linked.png"
        disabled="1">
        Verknüpfung einfügen
    </item>
    <item parent="/edit/"
        name="linked_in"
        icon="URL_DIR/bin/16x16/linked.png"
        disabled="1">
        Verknüpfung einfügen in ...
    </item>
    <item parent="/edit/" type="seperator"></item>
    <item parent="/edit/"
        name="search"
        icon="URL_DIR/bin/16x16/find.png">
        Suchen
    </item>
    <item parent="/edit/" type="seperator"></item>
    <item parent="/edit/"
        name="multilingual"
        icon="URL_DIR/bin/16x16/lang_link.png">
        Sprachen
    </item>
        <item parent="/edit/multilingual/"
            name="langmanager"
            icon="URL_DIR/bin/16x16/lang_link.png"
            disabled="1">
            Verwaltung
        </item>
        <item parent="/edit/multilingual/" type="seperator"></item>
        <item parent="/edit/multilingual/"
            name="site_links"
            icon="URL_DIR/bin/16x16/lang_link.png"
            disabled="1">
            Verknüpfungen
        </item>
        <item parent="/edit/multilingual/"
            name="site_links_create_in"
            disabled="1">
            Erstellen in
        </item>
     -->

    <!-- goto -->
        <!-- Plugins und Packages -->
        <item parent="/extras/"
              name="packages"
              icon="URL_BIN_DIR/16x16/quiqqer.png"
              require="controls/packages/Panel"
              group="quiqqer/system"
              var="menu.extras.packages.text"
        />
        <!-- Projekt Verwaltung -->
        <item parent="/extras/"
              name="projects"
              icon="icon-home"
              require="controls/projects/Manager"
              group="quiqqer/system"
              var="menu.extras.projects.text"
        />
        <!-- Zugriffsrechte bearbeiten -->
        <item parent="/extras/"
              name="rights"
              icon="icon-unlock-alt"
              group="quiqqer/system"
              var="menu.extras.rights.text"
        />
            <!-- Zugriffsrechte bearbeiten -->
            <item parent="/extras/rights/"
                  name="permissions"
                  icon="icon-gears"
                  require="controls/permissions/Panel"
                  group="quiqqer/system"
                  var="menu.extras.permissions.text"
            />
            <!-- Gruppen -->
            <item parent="/extras/rights/"
                  name="groups"
                  icon="icon-group"
                  require="controls/groups/Panel"
                  group="quiqqer/system"
                  var="menu.extras.groups.text"
            />
            <!-- Benutzer -->
            <item parent="/extras/rights/"
                  name="users"
                  icon="icon-user"
                  require="controls/users/Panel"
                  group="quiqqer/system"
                  var="menu.extras.users.text"
            />

        <!-- Logs -->
        <item parent="/extras/"
              name="logs"
              icon="icon-terminal"
              require="controls/logs/Panel"
              group="quiqqer/system"
              var="menu.extras.logs.text"
        />
        <!-- Papierkorb -->
        <item parent="/extras/"
              name="trash"
              icon="icon-trash"
              require="controls/trash/Panel"
              group="quiqqer/system"
              var="menu.extras.trash.text"
        />


    <!-- Settings -->
        <item parent="/settings/"
              name="projects"
              icon="icon-home"
              group="quiqqer/system"
              var="menu.settings.projects.text"
        />
        <item parent="/settings/"
              name="media"
              icon="icon-picture"
              require="controls/projects/project/media/Manager"
              group="quiqqer/system"
              var="menu.settings.media.text"
        >
            Media Einstellungen
        </item>

        <item parent="/settings/"
              name="media"
              icon="icon-font"
              require="controls/editors/Settings"
              group="quiqqer/system"
              var="menu.settings.editor.text"
        >
            WYSIWYG-Editor Einstellungen
        </item>


        <item parent="/settings/"
              name="vhosts"
              icon="icon-external-link"
              require="controls/system/VHosts"
              group="quiqqer/system"
              var="menu.settings.vhosts.text"
        >
            Virtual Hosts
        </item>


    <!-- Menu -->
        <item parent="/help/"
              name="about"
              icon="URL_BIN_DIR/16x16/quiqqer.png"
              require="controls/help/About"
              group="quiqqer/system"
              var="menu.help.about.text"
        />

        <item parent="/help/"
              name="changelog"
              icon="URL_BIN_DIR/16x16/quiqqer.png"
              require="controls/help/Changelog"
              group="quiqqer/system"
              var="menu.help.changelog.text"
        />


</menu>