<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/" name="quiqqer">
        <locale group="quiqqer/system" var="menu.quiqqer.text" />
    </item>

    <item parent="/" name="extras">
        <locale group="quiqqer/system" var="menu.goto.text" />
    </item>
    <item parent="/" name="settings">
        <locale group="quiqqer/system" var="menu.settings.text" />
    </item>
    <item parent="/" name="profile">
        <locale group="quiqqer/system" var="menu.profile.text" />
    </item>

    <!-- QUIQQER Menu -->
        <item parent="/quiqqer/"
              name="about"
              icon="URL_BIN_DIR/16x16/quiqqer.png"
              require="controls/help/About"
                >
            <locale group="quiqqer/system" var="menu.help.about.text" />
        </item>

        <item parent="/quiqqer/"
              name="changelog"
              icon="URL_BIN_DIR/16x16/quiqqer.png"
              require="controls/help/Changelog"
              group="quiqqer/system"
              var="menu.help.changelog.text"
                >
            <locale group="quiqqer/system" var="menu.help.changelog.text" />
        </item>
        <!-- Plugins und Packages -->
        <item parent="/quiqqer/"
              name="packages"
              icon="URL_BIN_DIR/16x16/quiqqer.png"
              require="controls/packages/Panel"
                >
            <locale group="quiqqer/system" var="menu.extras.packages.text" />
        </item>


    <!-- File Menu -->
        <item parent="/extras/"
              name="search"
              icon="icon-search"
              require="controls/projects/project/site/Search"
        >
            <locale  group="quiqqer/system" var="menu.file.search.text" />
        </item>

    <!-- Edit -->
    <!--
    <item parent="/edit/"
        name="edit_cut"
        icon="URL_DIR/bin/16x16/cut.png"
        disabled="1">
        Ausschneiden
    </item>
    <item parent="/edit/"
        name="edit_copy"
        icon="URL_DIR/bin/16x16/copy.png"
        disabled="1">
        Kopieren
    </item>
    <item parent="/edit/"
        name="edit_paste"
        icon="URL_DIR/bin/16x16/paste.png"
        disabled="1">
        Einfügen
    </item>
    <item parent="/edit/"
        name="linked"
        icon="URL_DIR/bin/16x16/linked.png"
        disabled="1">
        Verknüpfung einfügen
    </item>
    <item parent="/edit/"
        name="linked_in"
        icon="URL_DIR/bin/16x16/linked.png"
        disabled="1">
        Verknüpfung einfügen in ...
    </item>
    <item parent="/edit/" type="seperator"></item>
    <item parent="/edit/"
        name="search"
        icon="URL_DIR/bin/16x16/find.png">
        Suchen
    </item>
    <item parent="/edit/" type="seperator"></item>
    <item parent="/edit/"
        name="multilingual"
        icon="URL_DIR/bin/16x16/lang_link.png">
        Sprachen
    </item>
        <item parent="/edit/multilingual/"
            name="langmanager"
            icon="URL_DIR/bin/16x16/lang_link.png"
            disabled="1">
            Verwaltung
        </item>
        <item parent="/edit/multilingual/" type="seperator"></item>
        <item parent="/edit/multilingual/"
            name="site_links"
            icon="URL_DIR/bin/16x16/lang_link.png"
            disabled="1">
            Verknüpfungen
        </item>
        <item parent="/edit/multilingual/"
            name="site_links_create_in"
            disabled="1">
            Erstellen in
        </item>
     -->

    <!-- goto -->
        <!-- Projekt Verwaltung -->
        <item parent="/extras/"
              name="projects"
              icon="icon-home"
              require="controls/projects/Manager"
        >
            <locale group="quiqqer/system" var="menu.extras.projects.text" />
        </item>
        <!-- Zugriffsrechte bearbeiten -->
        <item parent="/extras/"
              name="rights"
              icon="icon-unlock-alt"
        >
            <locale group="quiqqer/system" var="menu.extras.rights.text" />
        </item>
            <!-- Zugriffsrechte bearbeiten -->
            <item parent="/extras/rights/"
                  name="permissions"
                  icon="icon-gears"
                  require="controls/permissions/Panel"
            >
                <locale group="quiqqer/system" var="menu.extras.permissions.text" />
            </item>
            <!-- Gruppen -->
            <item parent="/extras/rights/"
                  name="groups"
                  icon="icon-group"
                  require="controls/groups/Panel"
            >
                <locale group="quiqqer/system" var="menu.extras.groups.text" />
            </item>
            <!-- Benutzer -->
            <item parent="/extras/rights/"
                  name="users"
                  icon="icon-user"
                  require="controls/users/Panel"
            >
                <locale group="quiqqer/system" var="menu.extras.users.text" />
            </item>

        <!-- Papierkorb -->
        <item parent="/extras/"
              name="trash"
              icon="icon-trash"
              require="controls/trash/Panel"
        >
            <locale group="quiqqer/system" var="menu.extras.trash.text" />
        </item>

    <!-- Settings -->
        <item parent="/settings/"
              name="quiqqer"
              icon="URL_BIN_DIR/16x16/quiqqer.png"
        >
            <locale group="quiqqer/system" var="menu.settings.quiqqer.text" />
        </item>
            <item parent="/settings/quiqqer/"
                  name="media"
                  icon="icon-font"
                  require="controls/editors/Settings"
            >
                <locale group="quiqqer/system" var="menu.settings.editor.text" />
            </item>

            <item parent="/settings/quiqqer/"
                  name="vhosts"
                  icon="icon-external-link"
                  require="controls/system/VHosts"
            >
                <locale group="quiqqer/system" var="menu.settings.vhosts.text" />
            </item>


        <item parent="/settings/"
              name="projects"
              icon="icon-home"
        >
            <locale group="quiqqer/system" var="menu.settings.projects.text" />
        </item>
        <item parent="/settings/"
              name="media"
              icon="icon-picture"
              require="controls/projects/project/media/Manager"
        >
            <locale group="quiqqer/system" var="menu.settings.media.text" />
        </item>


    <!-- Profil -->
        <item parent="/profile/"
              name="userProfile"
              icon="icon-user"
              require="controls/system/Profile"
        >
            <locale group="quiqqer/system" var="menu.profile.userProfile.text" />
        </item>


    <!-- profile -->
        <item parent="/profile/"
              name="workspaces"
              icon="icon-laptop"
        >
            <locale group="quiqqer/system" var="menu.profile.workspace.text" />
        </item>

</menu>