
/* Upload Window
 ============================================== */

.qui-win-upload-body {
    float: left;
    width: 100%;
}

.qui-win-upload-body .texticon {
	float: left;
	margin-right: 20px;
}

.qui-win-upload-body .textbody {
	float: left;
}

.qui-win-upload-body .information {
	margin-top: 10px;
}