

.qui-desktop-widget-list {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background: #FFFFFF;
    background: rgba( 0, 0, 0, 0.5 );
}

.qui-desktop-widget-list-content {
    display: block;
    margin: 50px auto 0;
    padding: 10px;
    overflow: auto;

    min-width: 300px;
    width: 50%;
    height: 80%;

    border: 1px solid #999999;
    background: #EEEEEE;
}

.qui-desktop-widget-list-entry {
    width: 32%;
    height: 150px;
    float: left;
    margin: 0 5px 5px 0;
    cursor: pointer;
    overflow: auto;
    padding: 20px;

    text-align: center;
    font-size: 2em;
    font-weight: 400;

    background: #8BBA30;
    color: #FFFFFF;
}

.qui-desktop-widget-list-entry:hover {
    background: #FFFFFF;
    color: #8BBA30;
}

.qui-desktop-widget-list-entry .icon {
    font-size: 48px;
    text-align: center;
    line-height: 74px;
    width: 100%;
    float: left;
    clear: both;
}

.qui-desktop-widget-list-close {
    float: left;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
    line-height: 40px;
    text-align: center;

    color: #FFFFFF;
    background: #999999;
}

.qui-desktop-widget-list-close:hover {
    background: #FFFFFF;
    color: #999999;
}
