
.message {
	position: relative;
	float: left;
	clear: both;
	margin: 1px 0 0 0;
	width: 100%;

	border-width: 1px;
	border-style: solid;
	border-color: #555;
	border-radius: 2px;
}

.message span {
	margin: 5px;
	color: #000;
	float: left;
	line-height: 16px;
}

.message p {
	margin: 0 0 10px;
}

.message .time {
	margin-left: 30px;
}

.message .msg {
	width: 75%;
}

.message .close {
	position: absolute;
	top : 0px;
	right: 0px;
	width : 16px;
	height: 16px;
	background: url('images/close.png') no-repeat center center;
	text-indent: 50px;
	margin: 0p;
	cursor: pointer;
	overflow: hidden;
}

/**
 * Message Types
 */

.message-error {
	background: #F2D4CE url('images/error.png') no-repeat 5px 5px;
	border-color: #AE432E !important;
}
.message-attention {
	background: #FAF6D4 url('images/attention.png') no-repeat 5px 5px;
	border-color: #E6C26E !important;
}
.message-success {
	background: #D9E6C3 url('images/success.png') no-repeat 5px 5px;
	border-color: #77AB13 !important;
}
.message-information {
	background: #CEE6F2 url('images/information.png') no-repeat 5px 5px;
	border-color: #058DC7 !important;
}
