<table class="data-table data-table-flexbox site-data">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/system" var="projects.project.site.panel.information.header" id=$Site->getId()}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="projects.project.site.panel.information.title"}
                </span>
                <input name="title" value="" class="field-container-field"/>
            </label>
        </td>
    </tr>
    {if $Site->getId() != 1}
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="projects.project.site.panel.information.nameUrl"}
                </span>
                <span class="field-container-field field-container-field-no-padding">
                    <input name="site-name" value=""/>
                    <span class="site-url-display"></span>
                </span>
            </label>
        </td>
    </tr>
    {/if}
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="projects.project.site.panel.information.short"}
                </span>
                <textarea class="site-short field-container-field" name="short"></textarea>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="projects.project.site.panel.information.type"}
                </span>
                <input name="type" value="" class="project-types field-container-field"/>
            </label>
        </td>
    </tr>

    {assign var=layouts value=$Project->getLayouts()}
    {if count($layouts)}
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="projects.project.site.panel.information.layout"}
                </span>

                <select name="layout" class="field-container-field">
                    <option value=""></option>
                    {foreach from=$layouts item=layout}
                    <option value="{$layout.type}">
                        {$layout.title}
                    </option>
                    {/foreach}
                </select>

            </label>
        </td>
        {/if}
    </tr>
    </tbody>
</table>

<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/system" var="projects.project.site.panel.extras.title"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>

            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="projects.project.site.panel.extras.nav_hide"}
                </span>
                <span class="field-container-field">
                    <input type="checkbox" name="nav_hide" class="noborder"/>
                    <img src="{$smarty.const.URL_BIN_DIR}16x16/navigation_hidden.png" class="nav-hide-image"/>
                    {locale group="quiqqer/system" var="projects.project.site.panel.extras.nav_hide.description"}
                </span>
            </label>
        </td>
    </tr>
    {if isset($extrahtml)}{$extrahtml}{/if}
    </tbody>
</table>


{assign var=langIds value=$Site->getLangIds()}
{assign var=Project value=$Site->getProject()}

{if count($langIds) > 1}
<table class="data-table data-table-flexbox site-langs">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/system" var="projects.project.site.panel.langlinking"}
        </th>
    </tr>
    </thead>
    <tbody>
    {foreach from=$langIds item=entry key=lang}
    {if $lang != $Project->getLang()}
    <tr class="site-lang-rows" data-lang="{$lang}" data-id="{$entry}">
        <td>
            <div class="site-lang-entry-icon">
                <img src="{$smarty.const.URL_BIN_DIR}16x16/flags/{$lang}.png"/>
            </div>
            <div class="site-lang-entry-text">
                {if $entry}
                {site id=$entry project=$Project->getName() lang=$lang attribute=name} ( {$entry} )
                {else}
                {locale group="quiqqer/system" var="projects.project.site.panel.langlinking.notexist" lang=$lang}
                {/if}
            </div>
            <div class="site-lang-entry-button"></div>
        </td>
    </tr>
    {/if}
    {/foreach}
    </tbody>
</table>
{/if}

<table class="data-table data-table-flexbox site-linking">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/system" var="projects.project.site.panel.linking"}
        </th>
    </tr>
    </thead>

    <tbody>
    {assign var=pids value=$Site->getParentIds()}
    {assign var=originalParentId value=$Site->getParentId()}

    {if count($pids) > 1}
    {assign var=mypid value=$Site->getParentId()}
    {foreach from=$pids item=pid}
    <tr class="site-linking-rows">
        {assign var=Parent value=$Project->get($pid)}
        {assign var=parents value=$Parent->getParents()}
        <td>
            <div class="site-linking-entry-icon">
                <span class="fa fa-home"></span>
            </div>
            <div class="site-linking-entry-text">
                / {foreach from=$parents item=PS} {$PS->getAttribute('name')}
                / {/foreach} {$Parent->getAttribute('name')}
                / {$Site->getAttribute('name')}
            </div>
            {if $originalParentId != $Parent->getId()}
            <div class="site-linking-entry-button delete-linked-button" data-parentid="{$Parent->getId()}"></div>
            {/if}
        </td>
    </tr>
    {/foreach}
    {else}
    <tr>
        <td>
            {locale group="quiqqer/system" var="projects.project.site.panel.linking.notexist"}
        </td>
    </tr>
    {/if}
    </tbody>
</table>


<table class="data-table data-table-flexbox site-date">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/system" var="projects.project.site.panel.information.date"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="projects.project.site.panel.information.created"}
                </span>
                <input name="c_date" class="field-container-field" disabled/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="from"}
                </span>
                <input name="c_user" class="user field-container-field" disabled/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="user_ip_adress"}
                </span>
                <input name="c_user_ip" class="field-container-field" disabled/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="projects.project.site.panel.information.edited"}
                </span>
                <input name="e_date" class="field-container-field" disabled/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="from"}
                </span>
                <input name="e_user" class="user field-container-field" disabled/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/system" var="user_ip_adress"}
                </span>
                <input name="e_user_ip" class="field-container-field" disabled/>
            </label>
        </td>
    </tr>
    </tbody>
</table>