
{assign var=uid value=$Site->isLockedFromOther()}
{user id=$uid var=MarcateUser}

{if $Site->isLockedFromOther()}
    <div class="messages-message message-attention"
         style="margin-bottom: 20px; padding-left: 20px;"
         data-locked="1"
    >
        <span class="msg">
            {assign var=lastlogin value=$MarcateUser->getAttribute('lastvisit')|date_format:"%d.%m.%Y %H:%M:%S"}

            {locale
                username=$MarcateUser->getName()
                group="quiqqer/system"
                var="projects.project.site.messages.lock"
                lastlogin=$lastlogin
            }
        </span>
    </div>
{/if}

{if $Site->hasPermission( 'quiqqer.projects.site.edit' ) === false}
    <div class="message box-sizing message-attention" style="margin-bottom: 20px; padding-left: 20px;">
        <span class="msg">
            {t}quiqqer/system projects.project.site.no.edit.permissions{/t}
        </span>
    </div>
{/if}


<table class="data-table site-data">
<thead>
    <tr>
        <th colspan="2">
            {t id=$Site->getId()}quiqqer/system projects.project.site.panel.information.title{/t}
        </th>
    </tr>
</thead>
<tbody>
    <tr class="{cycle values="odd,even"}">
        <td>
            {t}quiqqer/system projects.project.site.panel.information.nameUrl{/t}
        </td>
        <td>{$Site->getAttribute('name')}.html</td>
    </tr>
    <tr class="{cycle values="odd,even"}">
        <td>
            {t}quiqqer/system projects.project.site.panel.information.title{/t}
        </td>
        <td>{$Site->getAttribute('title')}</td>
    </tr>
    <tr class="{cycle values="odd,even"}">
        <td>
            {t}quiqqer/system projects.project.site.panel.information.short{/t}
        </td>
        <td>
            {$Site->getAttribute('short')}
        </td>
    </tr>
    <tr class="{cycle values="odd,even"}">
        <td>
            {t}quiqqer/system projects.project.site.panel.information.type{/t}
        </td>
        <td>
            {$Site->getAttribute('type')}
        </td>
    </tr>
</tbody>
</table>

<table class="data-table site-date">
<thead>
    <tr>
        <th colspan="4">
            {t}quiqqer/system projects.project.site.panel.information.date{/t}
        </th>
    </tr>
</thead>

<tbody>
<tr class="{cycle values="odd,even"}">
    <td>
        {t}quiqqer/system projects.project.site.panel.information.created{/t}
    </td>
    <td>{$Site->getAttribute('c_date')}</td>
    <td>
        {t}quiqqer/system from{/t}
    </td>
    <td>
        {user var=c_user id=$Site->getAttribute('c_user')}
        {if $c_user}
            {$c_user->getName()}
        {/if}
    </td>
</tr>
<tr class="{cycle values="odd,even"}">
    <td>
        {t}quiqqer/system projects.project.site.panel.information.edited{/t}
    </td>
    <td>{$Site->getAttribute('e_date')}</td>
    <td>
        {t}quiqqer/system from{/t}
    </td>
    <td>
        {user var=e_user id=$Site->getAttribute('e_user')}
        {if $e_user}
            {$e_user->getName()}
        {/if}
    </td>
</tr>
</tbody>
</table>

<table class="data-table">
<thead>
    <tr>
        <th colspan="3">
            {t}quiqqer/system projects.project.site.panel.extras.title{/t}
        </th>
    </tr>
</thead>

<tbody>
    <tr class="{cycle values="odd,even"}">
        <td style="width: 20px">
            <input type="checkbox" name="nav_hide" {if $Site->getAttribute('nav_hide') == 1}checked="checked"{/if} disabled="disabled" />
        </td>
        <td>
            <img src="{$smarty.const.URL_BIN_DIR}16x16/navigation_hidden.png" />
            <span>
                {t}quiqqer/system projects.project.site.panel.extras.nav_hide{/t}
            </span>
        </td>
    </tr>
</tbody>
</table>
