
    <table class="data-table site-data">
    <thead>
        <tr>
            <th colspan="3">
                {t id=$Site->getId()}quiqqer/system projects.project.site.panel.information.title{/t}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd">
            <td class="first-td">
                {t}quiqqer/system projects.project.site.panel.information.nameUrl{/t}
            </td>
            <td class="scnd-td site-copy-from-name"></td>
            <td class="third-td">
                <input type="text" name="site-name" value="" /> .html
            </td>
        </tr>
        <tr class="even">
            <td>
                {t}quiqqer/system projects.project.site.panel.information.title{/t}
            </td>
            <td class="site-copy-from-title"></td>
            <td>
                <input type="text" name="title" value="" />
            </td>
        </tr>
        <tr class="odd">
            <td>
                {t}quiqqer/system projects.project.site.panel.information.short{/t}
            </td>
            <td></td>
            <td>
                <textarea class="site-short" name="short"></textarea>
            </td>
        </tr>
        <tr class="even">
            <td>
                {t}quiqqer/system projects.project.site.panel.information.type{/t}
            </td>
            <td></td>
            <td>
                <input type="text" name="type" value="" class="project-types" />
            </td>
        </tr>
    </tbody>
    </table>

    <table class="data-table site-date">
    <thead>
        <tr>
            <th colspan="3">
                {t}quiqqer/system projects.project.site.panel.information.date{/t}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr class="odd">
            <td style="width: 80px;">
                {t}quiqqer/system projects.project.site.panel.information.created{/t}
            </td>
            <td style="width: 150px;">
                <input type="text" name="c_date" disabled="disabled" />
            </td>
            <td style="width: 20px;">
                {t}quiqqer/system from{/t}
            </td>
            <td style="width: 500px;">
                <input type="text" name="c_user" disabled="disabled" class="user" value="" />
                <input type="text" name="c_user_ip" disabled="disabled" value="" placeholder="{t}quiqqer/system user_ip_adress{/t}" />
            </td>
            <td></td>
        </tr>
        <tr class="even">
            <td>
                {t}quiqqer/system projects.project.site.panel.information.edited{/t}
            </td>
            <td><input type="text" name="e_date" disabled="disabled" /></td>
            <td>
                {t}quiqqer/system from{/t}
            </td>
            <td>
                <input type="text" name="e_user" disabled="disabled" class="user" value="" />
                <input type="text" name="e_user_ip" disabled="disabled" value="" placeholder="{t}quiqqer/system user_ip_adress{/t}" />
            </td>
            <td></td>
        </tr>
    </tbody>
    </table>


    <table class="data-table">
    <thead>
        <tr>
            <th colspan="3">
                {t}quiqqer/system projects.project.site.panel.extras.title{/t}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr class="odd">
            <td style="width: 20px">
                <input type="checkbox" name="nav_hide" class="noborder" />
            </td>
            <td>
                <img src="{$smarty.const.URL_BIN_DIR}16x16/navigation_hidden.png" />
                <span>
                    {t}quiqqer/system projects.project.site.panel.extras.nav_hide{/t}
                </span>
            </td>
        </tr>

        {if isset($extrahtml)}
            {$extrahtml}
        {/if}

    </tbody>
    </table>


    {assign var=langIds value=$Site->getLangIds()}
    {assign var=Project value=$Site->getProject()}

    {if count( $langIds ) > 1}
    <table class="data-table site-langs">
    <thead>
        <tr>
            <th colspan="3">
                {t}quiqqer/system projects.project.site.panel.langlinking{/t}
            </th>
        </tr>
    </thead>
    <tbody>
        {cycle values="even,odd" reset=true assign=_cycle}

        {foreach from=$langIds item=entry key=lang}
        {if $lang != $Project->getLang()}
        <tr class="{cycle values="even,odd"}" data-lang="{$lang}" data-id="{$entry}">
            <td style="width: 30px;">
                <img src="{$smarty.const.URL_BIN_DIR}16x16/flags/{$lang}.png" />
            </td>
            <td>
                {if $entry}
                    {site id=$entry project=$Project->getName() lang=$lang attribute=name} ( {$entry} )
                {else}
                    {t lang=$lang}quiqqer/system projects.project.site.panel.langlinking.notexist{/t}
                {/if}
            </td>
            <td></td>
        </tr>
        {/if}
        {/foreach}
    </tbody>
    </table>
    {/if}

    <table class="data-table site-linking">
    <thead>
        <tr>
            <th>
                {t}quiqqer/system projects.project.site.panel.linking{/t}
            </th>
        </tr>
    </thead>

    <tbody>
        {cycle values="even,odd" reset=true assign=_cycle}

        {assign var=pids value=$Site->getParentIds()}
        {if count($pids) > 1}
            {assign var=mypid value=$Site->getParentId()}

            {foreach from=$pids item=pid}
            <tr class="{cycle values="even,odd"}">
                {assign var=Parent value=$Project->get($pid)}
                {assign var=parents value=$Parent->getParents()}
                <td>
                    <span class="icon-home"></span>
                    / {foreach from=$parents item=PS} {$PS->getAttribute('name')}
                    / {/foreach} {$Parent->getAttribute('name')}
                    / {$Site->getAttribute('name')}
                </td>
            </tr>
            {/foreach}

        {else}
        <tr class="{cycle values="odd,even"}">
            <td>
                {t}quiqqer/system projects.project.site.panel.linking.notexist{/t}
            </td>
        </tr>
        {/if}
    </tbody>
    </table>

