
<label for="order-type">Sortierung</label>

<select name="order-type">
    <option value="manuell">manuell</option>
    <option value="name ASC">Name aufsteigend</option>
    <option value="name DESC">Name absteigend</option>
    <option value="title ASC">Title aufsteigend</option>
    <option value="title DESC">Title absteigend</option>

    <option value="c_date ASC">Erstellungsdatum aufsteigend</option>
    <option value="c_date DESC">Erstellungsdatum absteigend</option>
    <option value="d_date ASC">Editierungsdatum aufsteigend</option>
    <option value="d_date DESC">Editierungsdatum absteigend</option>
</select>

<div class="qui-site-navigation"></div>
