
{foreach from=$permissions item=Permission}
<table class="data-table">
    <thead>
        <tr>
            <th>{$Permission->getAttribute('title')}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="odd">
                <input
                    type="text"
                    class="{$Permission->getAttribute('type')}"
                    name="{$Permission->getAttribute('name')}"
                />
            </td>
        </tr>
    </tbody>
</table>
{/foreach}
