<locales>

    <groups name="quiqqer/system">
        <locale name="projects.project.site.panel.settings.publication">
            <de><![CDATA[Veröffentlichung]]></de>
            <en><![CDATA[Publication]]></en>
        </locale>
        <locale name="projects.project.site.panel.settings.publication.from">
            <de><![CDATA[Veröffentlich von]]></de>
            <en><![CDATA[Publishing from]]></en>
        </locale>
        <locale name="projects.project.site.panel.settings.publication.to">
            <de><![CDATA[Veröffentlichung bis]]></de>
            <en><![CDATA[Publishing to]]></en>
        </locale>
        <locale name="projects.project.site.panel.settings.publication.info">
            <de><![CDATA[
                Beachten Sie:<br />
                Damit die Seite automatisiert veröffentlicht wird, muss im Cron-Manager der Veröffentlichungs-Cron eingerichtet sein.
            ]]></de>
            <en><![CDATA[
                Note: <br />
                To publish the page automatically, Publication Cron must be set in the cron manager.
            ]]>
            </en>
        </locale>

        <locale name="projects.project.site.panel.settings.media">
            <de><![CDATA[Media Einstellungen]]></de>
            <en><![CDATA[Media settings]]></en>
        </locale>
        <locale name="projects.project.site.panel.settings.media.info">
            <de><![CDATA[Legen Sie fest welche Bilder Ihrer Seite zugeordnet sind.]]></de>
            <en><![CDATA[Specify which images are associated with your site.]]></en>
        </locale>
        <locale name="projects.project.site.panel.settings.media.emotion_image">
            <de><![CDATA[Emotion-Bild]]></de>
            <en><![CDATA[Emotion image]]></en>
        </locale>
        <locale name="projects.project.site.panel.settings.media.site_image">
            <de><![CDATA[Seiten-Bild]]></de>
            <en><![CDATA[Site image]]></en>
        </locale>
    </groups>

</locales>