<table class="data-table data-table-flexbox site-data">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="projects.project.site.panel.settings.media"}
            <div class="description">
                {locale group="quiqqer/quiqqer" var="projects.project.site.panel.settings.media.info"}
            </div>
        </th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="projects.project.site.panel.settings.media.emotion_image"}
                </span>
                <input name="image_emotion" class="media-image field-container-field" />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="projects.project.site.panel.settings.media.site_image"}
                </span>
                <input name="image_site" class="media-image field-container-field" data-qui-options-cssclasses="1" />
            </label>
        </td>
    </tr>

    </tbody>
</table>

<table class="data-table data-table-flexbox site-data">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="projects.project.site.panel.settings.publication"}
        </th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="projects.project.site.panel.settings.publication.from"}
                </span>
                <input type="datetime" name="release_from" />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="projects.project.site.panel.settings.publication.to"}
                </span>
                <input type="datetime" name="release_to" />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <div class="description">
                {locale group="quiqqer/quiqqer" var="projects.project.site.panel.settings.publication.info"}
            </div>
        </td>
    </tr>

    </tbody>
</table>

<!-- don't delete this comment -->
<!-- extra plugin settings -->
