

 <table class="data-table site-data">
    <thead>
        <tr>
            <th colspan="2">
                Media Einstellungen
                <p class="description">
                    Legen Sie fest welche Bilder ihrer Seite zugeordnet sind.
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd">
            <td>Emotion-Bild</td>
            <td><input type="text" name="image-emotion" class="media-image" /></td>
        </tr>
        <tr>
            <td>Seiten-Bild</td>
            <td><input type="text" name="image-site" class="media-image" /></td>
        </tr>
    </tbody>
</table>
