.quiqqer-login-auth {
    overflow: hidden;
    position: relative;
}

.quiqqer-auth-login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.quiqqer-login-auth label {
    display: block;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.quiqqer-users-login-socialAuthenticator {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.quiqqer-login .quiqqer-frontend-social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    line-height: 46px;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
}

.quiqqer-login .quiqqer-frontend-social-button .qui-button-text {
    margin: 0;
}

.quiqqer-login-auth label span {
    display: block;
    padding-bottom: 5px;
    width: 100%;
}

.quiqqer-login-auth label input {
    display: block;
    width: 100%;
}

.quiqqer-login-auth [type="submit"] {
    cursor: pointer;
}

.quiqqer-auth-login-passwordreset {
    width: 100%;
    display: flow-root;
}

.quiqqer-auth-login-passwordreset-link {
    cursor: pointer;
    clear: both;
}

.quiqqer-auth-login-passwordreset [type="submit"] {
    width: 100%
}

.quiqqer-auth-login-passwordreset button {
    clear: both;
    cursor: pointer;
    line-height: 20px;
    margin-top: 20px;
    width: 100%
}