.quiqqer-login-auth {
    position: relative;
}

.quiqqer-auth-login-container {
    width: 100%;
}

.quiqqer-login-auth label {
    display: block;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.quiqqer-login-auth label span {
    display: block;
    padding-bottom: 5px;
    width: 100%;
}

.quiqqer-login-auth label input {
    display: block;
    width: 100%;
}

.quiqqer-login-auth button {
    margin-top: 1rem;
}

.quiqqer-login-auth [type="submit"],
.quiqqer-login-auth [name="cancel"] {
    width: 100%;
}

.quiqqer-auth-login__password-reset {
    text-align: right;
}

.quiqqer-auth-login__password-reset .btn {
    background-color: transparent;
    color: inherit;
    border-color: transparent;
    padding-inline: 0;

}

/* reset overlay */
.quiqqer-auth-login-passwordreset__info {
    margin-bottom: 1rem;
}