.quiqqer-login-auth {
    position: relative;
}

.quiqqer-auth-login-container {
    width: 100%;
    display: flow-root;
}

.quiqqer-login-auth label {
    display: block;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.quiqqer-login-auth label span {
    display: block;
    padding-bottom: 5px;
    width: 100%;
}

.quiqqer-login-auth label input {
    display: block;
    width: 100%;
}

.quiqqer-login-auth [type="submit"] {
    cursor: pointer;
    margin: 1.25rem 0 1rem;
    width: 100%;
}

.quiqqer-auth-login-passwordreset {
    width: 100%;
    display: flow-root;
}

.quiqqer-auth-login-passwordreset label {
    margin: 1rem 0 0 0;
}

.quiqqer-auth-login-passwordreset-link {
    cursor: pointer;
    float: right;
}

.quiqqer-auth-login-passwordreset [type="submit"] {
    margin-top: 0.5rem;
    width: 100%
}

.quiqqer-auth-login-passwordreset [type="reset"] {
    width: 100%
}
