.quiqqer-mail2fa-auth {
    display: flex;
    flex-direction: column;
}

.quiqqer-mail2fa-auth label {
    margin: 1rem 0;
}

.quiqqer-mail2fa-auth label span:first-child {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.5rem;
}

.quiqqer-mail2fa-auth .code {
    display: flex;
    gap: 1rem;
}

.quiqqer-mail2fa-auth .code input {
    flex-grow: 1;
    padding: 0;
    line-height: 40px;
    height: 50px;
    text-align: center;
    width: 10px;
}
