<form name="add-address" class="box">
    <input type="hidden" name="address-id" value=""/>

    <div class="grid-50">
        <table class="data-table data-table-flexbox">
            <thead>
            <tr>
                <th>{locale group="quiqqer/quiqqer" var="data"}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-container">
                        <span class="field-container-item">{locale group="quiqqer/quiqqer" var="default.address"}</span>
                        <span class="field-container-field">
                            <input type="checkbox" name="address-standard" value=""/>
                        </span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-container">
                        <span class="field-container-item">{locale group="quiqqer/quiqqer" var="company"}</span>
                        <input type="text" name="address-company" value="" class="field-container-field"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-container">
                        <span class="field-container-item">{locale group="quiqqer/quiqqer" var="salutation"}</span>
                        <input type="text" name="address-salutation" value="" class="field-container-field"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-container">
                        <span class="field-container-item">{locale group="quiqqer/quiqqer" var="firstname"}</span>
                        <input type="text" name="address-firstname" value="" class="field-container-field"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-container">
                        <span class="field-container-item">{locale group="quiqqer/quiqqer" var="lastname"}</span>
                        <input type="text" name="address-lastname" value="" class="field-container-field"/>
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="grid-50">
        <table class="data-table data-table-flexbox">
            <thead>
            <tr>
                <th>{locale group="quiqqer/quiqqer" var="address"}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="field-container">
                        <span class="field-container-item">{locale group="quiqqer/quiqqer" var="street"}</span>
                        <input type="text" name="address-street_no" value="" class="field-container-field"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-container">
                        <span class="field-container-item">{locale group="quiqqer/quiqqer" var="zip"}</span>
                        <input type="text" name="address-zip" value="" class="field-container-field"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-container">
                        <span class="field-container-item">{locale group="quiqqer/quiqqer" var="city"}</span>
                        <input type="text" name="address-city" value="" class="field-container-field"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="field-container">
                        <span class="field-container-item">{locale group="quiqqer/quiqqer" var="country"}</span>
                        <select name="address-country" class="field-container-field">
                            <option value=""></option>
                            {foreach from=$countrys item=Country}
                            <option value="{$Country->getCode()}">
                                {$Country->getName()}
                            </option>
                            {/foreach}
                        </select>
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="grid-100">
        <table class="data-table data-table-flexbox">
            <thead>
            <tr>
                <th>{locale group="quiqqer/quiqqer" var="users.address.phone.title"}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="user-address-edit-tel"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="grid-100">
        <table class="data-table data-table-flexbox">
            <thead>
            <tr>
                <th>{locale group="quiqqer/quiqqer" var="email"}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="user-address-edit-mail"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</form>
