@CHARSET "UTF-8";

.qui-permission-entry {
    clear: both;
    float: left;
    padding: 5px;
    width: 100%;
}

.qui-permission-entry label {
    float: left;
}

.qui-permission-entry input {
    float: left;
}