
.qui-column {
    height: 100%;
    float: left;
    position: relative;
}

.qui-column-content {
    height: 100%;
    width: 100%;
    float: left;
    overflow: auto;
}

.qui-column-handle {
    cursor : e-resize;
    height: 100%;
    float: left;
    overflow: hidden;
    background: #C3C3C3 url(images/handle-icon.gif) center center no-repeat;

    border-width: 1px;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: #909090;
}

.qui-column-hor-handle {
    cursor : n-resize;
    height: 4px;
    line-height: 1px;
    font-size: 1px;
    overflow: hidden;
    background: #EEE url(images/handle-icon-horizontal.gif) center center no-repeat;
    clear: both;

    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: #C3C3C3;
}

.qui-column-hightlight {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 100;

    background-color: #6C98D9;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
