@CHARSET "UTF-8";

.qui-desktop-widget {
    position: relative;
    overflow: hidden;
}

/** Widget Content
 =========================================================== */

.qui-desktop-widget-content {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 10px;
}

.qui-desktop-widget-content .data-table {
    border: none;
}

/** Widget Footer
 =========================================================== */

.qui-desktop-widget-title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background: #8BBA30;
    color: #FFFFFF;

    overflow: hidden;
    padding: 20px;

    text-align: center;
    font-size: 2em;
    font-weight: 400;

    cursor: pointer;
}

.qui-desktop-widget-title .icon {
    clear: both;
    display: block;
    margin-top: 20px;
    font-size: 50px;
}

/** Widget Footer
 =========================================================== */

.qui-desktop-widget-footer {
    width: 100%;
    height: 30px;

    background: #333333;

    position: absolute;
    bottom: 0px;
    left: 0px;
}

.qui-desktop-widget-footer .btn {
    float: right;
    width: 24px;
    height: 24px;
    font-size: 20px;
    color: #FFFFFF;
    margin: 3px;
    cursor: pointer;

    text-align: center;
    line-height: 24px;
}

.qui-desktop-widget-footer .btn:hover {
    color: #333333;
    background: #FFFFFF;
}

.qui-wall.disabled .delete {
    display: none;
}
