.qui-projects-settings-file-format {
    float: left;
}

.qui-projects-settings-file-format-display {
    border-top: 1px solid rgba(147, 128, 108, 0.25);
    clear: both;
    padding: 5px 8px;
    width: 100%;
}

.qui-projects-settings-file-format input {
    width: 100%;
}

.field-container-field .qui-projects-settings-file-format input {
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
}
