
<form name="add-adress" class="user-adress-edit">
	<input type="hidden" name="adress-id" value="" />

	{title text="Daten"}
	<table class="data-table">
	<tr>
		<td class="user-adress-edit-data-cell">Firma</td>
		<td class="user-adress-edit-input-cell"><input type="text" name="adress-company" value="" /></td>

		<td class="user-adress-edit-data-cell">Anrede</td>
		<td class="user-adress-edit-input-cell"><input type="text" name="adress-salutation" value="" /></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="odd">
		<td class="user-adress-edit-data-cell">Vorname</td>
		<td class="user-adress-edit-input-cell"><input type="text" name="adress-firstname" value="" /></td>
		<td class="user-adress-edit-data-cell">Nachname</td>
		<td class="user-adress-edit-input-cell"><input type="text" name="adress-lastname" value="" /></td>
		<td>&nbsp;</td>
	</tr>
	</table>

	{title text="Anschrift"}
	<table class="data-table">
	<tr>
		<td class="user-adress-edit-data-cell">Strasse / Nr.</td>
		<td class="user-adress-edit-input-cell"><input type="text" name="adress-street_no" value="" /></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr class="odd">
		<td class="user-adress-edit-data-cell">PLZ</td>
		<td class="user-adress-edit-input-cell"><input type="text" name="adress-zip" value="" /></td>
		<td class="user-adress-edit-data-cell">Ort</td>
		<td class="user-adress-edit-input-cell"><input type="text" name="adress-city" value="" /></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td class="user-adress-edit-data-cell">Land</td>
		<td class="user-adress-edit-input-cell">
			<select name="adress-country" style="width: 200px;">
				<option value=""></option>
				{foreach from=$countrys item=Country}
				<option value="{$Country->getCode()}">
					{$Country->getName()}
				</option>
				{/foreach}
			</select>
		</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</table>

	{title text="Telefon / Fax / E-Mail"}
	<div class="user-adress-edit-telfaxmail"></div>

</form>