<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/extras/"
          name="my_plugin"
          require=""
          icon=""
          permission="permission.name"
    >
        <locale group="" var=""/>
    </item>
    <item parent="/extras/my_plugin/"
          name="about"
          icon=""
    >
        <locale group="" var=""/>
    </item>
</menu>
