<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config name="my_conf_name">
            <section name="first_section">
                <conf name="var_1">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>default value</defaultvalue>
                </conf>
                <conf name="var_2">
                    <type><![CDATA[integer]]></type>
                </conf>
                <conf name="var_3">
                    <type><![CDATA[bool]]></type>
                </conf>
            </section>

            <section name="second_section">
                <conf name="var_1">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="var_2">
                    <type><![CDATA[integer]]></type>
                </conf>
                <conf name="var_3">
                    <type><![CDATA[bool]]></type>
                </conf>
            </section>
        </config>

        <window>
            <title>My Settings</title>
            <params>
                <icon>URL_BIN_DIR/16x16/settings.png</icon>
            </params>

            <categories>
                <category name="first_settings">
                    <text>Allgemein</text>
                    <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>

                    <settings title="first_setting_section" name="first_setting_section">
                        <title>My First Settings</title>
                        <input conf="first_section.var1" type="checkbox">
                            <text>Here is a title text</text>
                            <description>
                                Here is a description
                            </description>
                        </input>
                    </settings>

                    <settings title="second_setting_section" name="second_setting_section">
                        <title>My second Settings</title>
                        <input conf="first_section.var2" type="text">
                            <text>Verwendete Template Engine</text>
                        </input>
                        <input conf="first_section.var3" type="checkbox">
                            <text>Smarty Compile Prüfung</text>
                        </input>
                    </settings>
                </category>

                <category name="second_settings">
                    <text>More Settings</text>
                    <icon>URL_BIN_DIR/22x22/database.png</icon>

                    <settings title="database" name="database">
                        <title>Some Settings</title>
                        <input conf="second_section.var1" type="text">
                            <text>Datenbank Typ</text>
                        </input>
                        <input conf="second_section.var2" type="text">
                            <text>Host</text>
                        </input>
                        <input conf="second_section.var3" type="text">
                            <text>Datenbank Name</text>
                        </input>

                        <text>
                            <locale group="" var=""/>
                        </text>
                    </settings>
                </category>

                <category
                        name="third_settings"
                        require="package/QUIBASED_Package"
                >
                    <text>Button text</text>
                    <icon>icon-button-icon</icon>
                </category>

                <category name="fourth_settings">
                    <text>Element ohne Label</text>
                    <!-- Dieses Feld besitzt kein Label (linken Bereich in der Tabelle) -->
                    <input conf="second_section.var4" type="text" label="false"/>
                </category>
            </categories>
        </window>

    </settings>


    <project>
        <settings>
            <config>
                <section name="templateQUI.settings">
                    <conf name="logo">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="templateQUI">
                        <text>QUI Template Settings</text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>

                        <settings title="templateQUI.settings" name="templateQUI.settings">
                            <title>
                                QUI Template Einstellungen
                            </title>
                            <input conf="templateQUI.settings.logo" class="media-image">
                                <text>Header-Logo</text>
                            </input>
                        </settings>
                    </category>
                </categories>

            </window>
        </settings>
    </project>
</quiqqer>
