@CHARSET "UTF-8";

.qui-workspace-manager {
    float: left;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

/** window - panel liste
 * ===================================================== */

.qui-controls-workspace-panelList-panel {
    border-bottom: 1px solid #ddd;
    clear: both;
    cursor: pointer;
    float: left;
    padding: 20px;
    width: 100%;
}

.qui-controls-workspace-panelList-panel:hover {
    border-bottom: 1px solid #2F8FC6;
    background: #2F8FC6;
    color: #FFF;
}

.qui-controls-workspace-panelList-panel h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.qui-controls-workspace-panelList-panel p {
    clear: none;
    float: left;
    width: calc(100% - 80px);
}

.qui-controls-workspace-panelList-panel-icon {
    float: left;
    font-size: 48px;
    margin-right: 10px;
    width: 62px;
}
