@CHARSET "UTF-8";

.qui-packages-panel-grid-container {
    float: left;
    clear: both;
}

.qui-packages-panel-addserver input,
.qui-packages-panel-addserver select {
    margin: 0 5px 0 0;
}

.qui-packages-panel-package-info {
    float: left;
    margin: 20px;
}

.qui-packages-panel-package-info .package-require {
    float: left;
    clear: both;
    margin-top: 20px;
}

/** update
 =============================================== */

.qui-packages-panel-update {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 20px;
}

.qui-packages-panel-update-result {
    float: left;
    clear: both;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background: #fff;
    border: 1px solid #dedede;
}


/** search
 =============================================== */

.qui-packages-panel-search {
    float: left;
    clear: both;
    margin: 20px 0;
}

.qui-packages-panel-search input {
    float: left;
}
