.packages-panel-categories button {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.packages-panel-categories button .image-container {
    float: left;
    margin: 2px 0;
    width: 40px;
}

.packages-panel-categories button .qui-button-text {
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
    width: calc(100% - 40px);
}
