.qui-control-packages-update-infos {
    background: #f1f1f1;
    float: left;
    padding: 20px;
    width: 100%;
}

.qui-control-packages-update-infos img {
    float: left;
}

.qui-control-packages-update-infos-v {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
}

.qui-control-packages-update-infos-v li {
    clear: both;
}

.qui-control-packages-update-infos-v li span:first-child {
    float: left;
    width: 80px;
}

.qui-control-packages-update-infos-lastCheck-cell {
    padding-top: 10px;
}

.qui-control-packages-update-infos-lastCheck-cell span {
    clear: both;
    float: left;
    white-space: nowrap;
}

.qui-control-packages-update-buttons {
    float: left;
    padding: 20px;
    width: 100%;
}

.qui-control-packages-update-result {
    border-top: 1px solid #D0D3D3;
    float: left;
    padding: 20px;
    width: 100%;
}

/** package update
 ============================================== */

.qui-control-packages-update-result {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    width: 100%;
}

/** Tile view
 ============================================== */

.qui-control-packages-system-package-viewTile .packages-package-loader {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 30px;
    height: 100%;
    line-height: 110px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.qui-control-packages-system-package-viewTile {
    border: 1px solid #D0D3D3;
    cursor: default;
    display: flex;
    flex-direction: column;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 160px;
}

.qui-control-packages-system-package-viewTile:hover {
    border: 1px solid #BBB;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.75);
}

.qui-control-packages-system-package-viewTile-text {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
}

.qui-control-packages-system-package-viewTile-text .version {
    clear: both;
    display: block;
    font-weight: bold;
    padding-top: 5px;
}

.qui-control-packages-system-package-viewTile-buttons {
    background: #f6f6f6;
    border-top: 1px solid #D0D3D3;
    clear: both;
    float: left;
    height: 31px;
    width: 100%;
}

.qui-control-packages-system-package-viewTile-buttons .button {
    background: #f6f6f6;
    box-shadow: none;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    width: 100%;
}

.qui-control-packages-system-package-viewTile-buttons .button:hover {
    background: #0069b4;
    color: #fff;
}
