.qui-loader-message {
    padding: 20px;
}

.system-check-info {
    padding: 20px;
}

.system-check-info-text {
    padding-top: 20px;
}

.qui-control-packages-systemcheck {
    height: 100%;
}

.qui-control-packages-systemcheck-title {
    align-items: center;
    background: #f1f1f1;
    display: flex;
    font-size: 1.1rem;
    justify-content: space-between;
    padding: 20px;
}

.qui-control-packages-systemcheck-resultcontainer {
    padding: 20px;
}

.qui-control-packages-systemcheck-resultcontainer .messages-message {
    margin-top: 20px;
}

/* check table */
.check-table {
    border: 1px solid #e5e5e5;
    padding: 10px;
}

.check-table ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.system-check .fa-check {
    color: #75b947;
}

.system-check .fa-close,
.system-check .fa-remove {
    color: #cc6666;
}

.system-check .fa-exclamation-circle {
    color: #ffa500;
}

.system-check li {
    margin-bottom: 5px;
}

.system-check .fa {
    margin-right: 0;
    width: 30px;
}

.system-check .test-message .fa {
    width: 18px;
}

.check-table-row {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    padding: 10px 8px;
}

.check-table-row:last-child {
    border-bottom: none;
}

.check-table-col-test {
    font-weight: 400;
    overflow: hidden;
    padding-right: 10px;
    text-overflow: ellipsis;
    width: 30%;
}

.check-table-col-message {
    width: 70%;
}

.test-message {
    font-size: 80%;
    line-height: 150%;
    margin-left: 30px;
}

.test-message > div {
    display: flex;
}

.test-message > div:hover {
    background: #eee;
}

.test-message.test-message-checkSum {
    font-size: 100%;
    line-height: 170%;
}

.test-message.test-message-checkSum span {
    cursor: pointer;
    flex-grow: 2;
}

span.unknown-packages-warning {
    display: inline-block;
    line-height: 150%;
    margin-top: 10px;
}

/* Icons for file check sums */
.test-message .package-ok:before {
    color: #75b947;
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: 10px;
}

.test-message .package-warning:before {
    color: #ea8f16;
    content: "\f06a";
    font-family: FontAwesome;
    margin-right: 10px;
}

.test-message .package-error {
    color: #cc6666;
}

.test-message .package-error:before {
    color: #cc6666;
    content: "\f00d";
    font-family: FontAwesome;
    margin-right: 10px;
}

/* system check button */
.system-check-button-container {
    background: #f5f5f5;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #999;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.2s;
    transition-delay: 0s;
}

.system-check-button-container.ok {
    color: #75b947;
}

.system-check-button-container.failed {
    color: #cc6666;
}

.system-check-button-container.warning {
    color: #ea8f16;
}

#system-check {
    background: none;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    min-width: 0;
    padding: 1em 1.2em;
    text-align: left;
    transition: all 0s;
    width: 100%;
}

#system-check:hover {
    background: #eee;
}

pre {
    margin: 0;
    max-width: 100%;
    overflow: auto;
}

code {
    background: #454545 none repeat scroll 0 0;
    border: 1px solid #666;
    border-radius: 0;
    color: white;
    font-family: "Liberation Mono", dl_liberation_mono, monospace;
    margin: 10px 0;
    padding: 0.25em 0.65em;
}

pre code {
    display: block;
    line-height: 1.75em;
    overflow-x: auto;
    padding: 1em 1.5em;
}

/* PHP Info */
.qui-control-packages-systemcheck-phpinfo table {
    width: 100%;
}

.qui-control-packages-systemcheck-phpinfo table td {
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    word-break: break-all;

    word-wrap: break-word;
    overflow-wrap: break-word;
    -ms-hyphens: auto;
}

.qui-control-packages-systemcheck-phpinfo table tr td:first-child {
    width: 200px;
}

.qui-control-packages-systemcheck-phpinfo table td[colspan="2"] {
    width: calc(100% - 200px);
}

/**********************/
/* system check popup */
/**********************/
.qui-control-packages-systemcheck-checksum .qui-window-popup-title-text {
    font-weight: bold;
}

.qui-control-packages-systemcheck-checksum p,
.qui-control-packages-systemcheck-checksum ul {
    line-height: 150%;
}

.qui-control-packages-systemcheck-checksum p {
    margin-top: 10px;
}

.qui-control-packages-systemcheck-checksum p:first-child {
    margin-top: 0;
}

.qui-control-packages-systemcheck-checksum ul {
    margin-top: 0;
}

/************************/
/* file check sum table */
/************************/
.qui-control-packages-systemcheck-checksum table {
    width: 100%;
}

.qui-control-packages-systemcheck-checksum table th,
.qui-control-packages-systemcheck-checksum table td {
    margin: 0;
    padding: 4px 8px;
}

.qui-control-packages-systemcheck-checksum td:nth-child(1) {
    width: 55%;
    word-break: break-all;
    word-break: break-word;
    -ms-word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.qui-control-packages-systemcheck-checksum td:nth-child(2) {
    text-align: center;
    width: 15%;
}

.qui-control-packages-systemcheck-checksum td:nth-child(3) {
    text-align: center;
    width: 15%;
}

.qui-control-packages-systemcheck-checksum td:nth-child(4) {
    text-align: center;
    width: 15%;
}

.qui-control-packages-systemcheck-checksum thead {
    background: #ccc;
}

.qui-control-packages-systemcheck-checksum tbody tr:nth-child(2n) {
    background: #eee;
}

.qui-control-packages-systemcheck-checksum tbody tr:hover {
    background: #e1e1e1;
}

tr.tr-ok td:nth-child(3),
tr.tr-ok td:nth-child(4) {
    color: #75b947;
}

/*
tr.tr-warning td:nth-child(2),
tr.tr-warning td:nth-child(3) {
    color: #ea8f16;
}*/

.tr-error td:nth-child(3),
.tr-error td:nth-child(4) {
    color: #cc6666;
}

.tr-ok td:first-child:before {
    color: #75b947;
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: 10px;
}

.tr-warning td:first-child:before {
    color: #ea8f16;
    content: "\f06a";
    font-family: FontAwesome;
    margin-right: 10px;
}

.tr-error td:first-child:before {
    color: #cc6666;
    content: "\f00d";
    font-family: FontAwesome;
    margin-right: 10px;
}