
<table class="data-table">
    <thead>
        <tr>
            <th colspan="2">
                {title text="Persönliche Daten"}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="{cycle values="odd,even"}">
            <td style="width: 80px">Vorname</td>
            <td><input type="text" name="firstname" value="" /></td>
        </tr>

        <tr class="{cycle values="odd,even"}">
            <td>Nachname</td>
            <td><input type="text" name="lastname" /></td>
        </tr>

        <tr class="{cycle values="odd,even"}">
            <td>Geburtstag</td>
            <td><input type="date" name="birthday" /></td>
        </tr>

        <tr class="{cycle values="odd,even"}">
            <td>Kürzel</td>
            <td><input type="text" name="shortcuts" /></td>
        </tr>
    </tbody>
</table>

{title text="Adressen"}
<div class="adress-list"></div>