<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="user.panel.personal"}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">{locale group="quiqqer/quiqqer" var="firstname"}</span>
                <input type="text" name="firstname" value="" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">{locale group="quiqqer/quiqqer" var="lastname"}</span>
                <input type="text" name="lastname" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">{locale group="quiqqer/quiqqer" var="birthday"}</span>
                <input type="date" name="birthday" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="abbreviation"}
                </span>
                <input type="text" name="shortcuts" class="field-container-field"/>
            </label>
        </td>
    </tr>
    </tbody>
</table>

<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>{locale group="quiqqer/quiqqer" var="addresses"}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div class="address-list"></div>
        </td>
    </tr>
    </tbody>
</table>
