
<table class="data-table">
    <thead>
        <tr>
            <th colspan="2">
                {locale group="quiqqer/quiqqer" var="user.panel.details"}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr class="{cycle values="odd,even"}">
            <td style="width: 150px">{locale group="quiqqer/system" var="user_id"}</td>
            <td><input type="text" name="id" value="" disabled="disabled" /></td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>{locale group="quiqqer/quiqqer" var="permission.quiqqer.su"}</td>
            <td><input type="checkbox" name="su" class="noborder" /></td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>{locale group="quiqqer/system" var="username"}</td>
            <td><input type="text" name="username" value="" /></td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>{locale group="quiqqer/system" var="email"}</td>
            <td><input type="text" name="email" value="" /></td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>{locale group="quiqqer/quiqqer" var="user.panel.avatar"}</td>
            <td><input type="text" name="avatar" class="media-image" /></td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>{locale group="quiqqer/system" var="groups"}</td>
            <td>
                <input type="text" name="usergroup" value="" data-qui="controls/groups/Select" />
            </td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>{locale group="quiqqer/quiqqer" var="user.panel.editorToolbar"}</td>
            <td>
                <select name="toolbar"></select>
            </td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td>{locale group="quiqqer/quiqqer" var="user.panel.userlanguage"}</td>
            <td>
                <select name="lang">
                {assign var=langs value=$QUI->availableLanguages()}
                {foreach from=$langs item=lang}
                    <option value="{$lang}">{$lang}</option>
                {/foreach}
                </select>
            </td>
        </tr>
    </tbody>
</table>

<table class="data-table">
    <thead>
        <tr>
            <th colspan="2">
                {locale group="quiqqer/system" var="data"}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="{cycle values="odd,even" reset="1"}">
            <td>{locale group="quiqqer/quiqqer" var="user.panel.lastChanged"}</td>
            <td><input type="text" name="lastedit" value="" disabled="disabled" /></td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td style="width: 150px">{locale group="quiqqer/quiqqer" var="user.panel.lastLogin"}</td>
            <td><input type="text" name="lastvisit" value="" disabled="disabled" /></td>
        </tr>
        <tr class="{cycle values="odd,even"}">
            <td style="width: 150px">{locale group="quiqqer/quiqqer" var="user.panel.browser"}</td>
            <td><input type="text" name="user_agent" value="" disabled="disabled" /></td>
        </tr>

    </tbody>
</table>
