<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="user.panel.details"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user_id"}
                </span>
                <input type="text" name="id" value="" disabled="disabled"
                       class="field-container-field"
                />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="permission.quiqqer.su"}
                </span>
                <span class="field-container-field">
                    <input type="checkbox" name="su"/>
                </span>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="username"}
                </span>
                <input type="text" name="username" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="email"}
                </span>

                <input type="text" name="email" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.avatar"}
                </span>
                <input type="text" name="avatar" class="media-image"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="groups"}
                </span>
                <input type="text" name="usergroup" value="" data-qui="controls/groups/Select"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.userlanguage"}
                </span>
                <select name="lang" class="field-container-field">
                    {assign var=langs value=$QUI->availableLanguages()}
                    {foreach from=$langs item=lang}
                    <option value="{$lang}">{$lang}</option>
                    {/foreach}
                </select>
            </label>
        </td>
    </tr>
    </tbody>
</table>

<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="user.toolbar.title"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.editorToolbar"}
                </span>
                <select name="toolbar" class="field-container-field"></select>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.assignedToolbars"}
                </span>
                <input type="text" name="assigned_toolbar" value="" data-qui="controls/editors/toolbars/Select"/>
            </label>
        </td>
    </tr>
    </tbody>
</table>

<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="data"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.created"}
                </span>
                <input type="text" name="regdate" disabled="disabled" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.lastChanged"}
                </span>
                <input type="text" name="lastedit" disabled="disabled" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.lastLogin"}
                </span>
                <input type="text" name="lastvisit" disabled="disabled" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.browser"}
                </span>
                <input type="text" name="user_agent" disabled="disabled" class="field-container-field"/>
            </label>
        </td>
    </tr>
    </tbody>
</table>
