
{title text="Status"}
<table class="data-table">
<tr>
	<td style="width: 30px"><input type="radio" name="active" value="1" class="noborder" /></td>
	<td>Aktiviert</td>
</tr>
<tr class="odd">
	<td><input type="radio" name="active" value="0" class="noborder" /></td>
	<td>Deaktiviert</td>
</tr>
</table>

{title text="Details"}
<table class="data-table">
<tr>
	<td style="width: 150px">Benutzer-ID</td>
	<td><input type="text" name="id" value="" disabled="disabled" /></td>
</tr>

<tr class="odd">
	<td>Super User</td>
	<td><input type="checkbox" name="su" class="noborder" /></td>
</tr>

<tr>
	<td>Benutzername</td>
	<td><input type="text" name="username" value="" /></td>
</tr>

<tr class="odd">
	<td>E-Mail</td>
	<td><input type="text" name="email" value="" /></td>
</tr>

<tr>
	<td>Gruppe</td>
	<td>
		<input type="text" name="usergroup" class="groups" value="" />
	</td>
</tr>
<tr class="odd">
	<td>Editor Toolbar</td>
	<td></td>
</tr>

<tr>
	<td>Zuletzte geändert am</td>
	<td><input type="text" name="lastedit" value="" disabled="disabled" /></td>
</tr>

</table>