<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {title text="Details"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="username"}
                </span>
                <input type="text" name="username" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="email"}
                </span>
                <input type="text" name="email" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.userlanguage"}
                </span>
                <select name="lang" class="field-container-field">
                    {assign var=langs value=$QUI->availableLanguages()}
                    {foreach from=$langs item=lang}
                    <option value="{$lang}">{$lang}</option>
                    {/foreach}
                </select>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.editorToolbar"}
                </span>
                <select name="toolbar" class="field-container-field"></select>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.settings.showNamesInSitemap"}
                </span>
                <span class="field-container-field">
                    <input type="checkbox" name="quiqqer.sitemap.showNames"/>
                    {locale group="quiqqer/quiqqer" var="user.settings.showNamesInSitemap.description"}
                </span>
            </label>
        </td>
    </tr>
    </tbody>
</table>


<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            Persönliche Daten
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="firstname"}
                </span>
                <input type="text" name="firstname" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="lastname"}
                </span>
                <input type="text" name="lastname" class="field-container-field"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="birthday"}
                </span>
                <input type="date" name="birthday" class="field-container-field"/>
            </label>
        </td>
    </tr>
    </tbody>
</table>

{$extend}