<form name="user-search" class="user-search-form" method="post">
    <table class="data-table data-table-flexbox">
        <thead>
        <tr>
            <th>
                {locale group="quiqqer/quiqqer" var="user.panel.search.title"}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label class="field-container">
                    <input type="text"
                           value=""
                           name="search"
                           class="user-search-form-field field-container-field"
                           placeholder="{locale group="quiqqer/quiqqer" var="user.panel.search.placeholder"}"
                    />
                </label>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="data-table data-table-flexbox">
        <thead>
        <tr>
            <th>
                {locale group="quiqqer/quiqqer" var="user.panel.search.in.title"}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/system" var="user_id"}
                    </span>
                    <span class="field-container-field">
                        <input type="checkbox" checked="checked" value="" name="uid"/>
                    </span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/system" var="username"}
                    </span>
                    <span class="field-container-field">
                        <input type="checkbox" checked="checked" value="" name="username"/>
                    </span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/system" var="email"}
                    </span>
                    <span class="field-container-field">
                        <input type="checkbox" checked="checked" value="" name="email"/>
                    </span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/system" var="firstname"}
                    </span>
                    <span class="field-container-field">
                        <input type="checkbox" checked="checked" value="" name="firstname"/>
                    </span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/system" var="lastname"}
                    </span>
                    <span class="field-container-field">
                        <input type="checkbox" checked="checked" value="" name="lastname"/>
                    </span>
                </label>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="data-table data-table-flexbox">
        <thead>
        <tr>
            <th>
                {locale group="quiqqer/quiqqer" var="user.panel.search.filter.title"}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/system" var="status"}
                    </span>
                    <select name="filter_status" class="field-container-field">
                        <option value="all" selected="selected">Alle</option>
                        <option value="1">Aktiviert</option>
                        <option value="0">Deaktiviert</option>
                        <option value="-1">Gelöscht</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="user.panel.search.filter.regdate.first"}
                    </span>
                    <input type="date" name="filter_regdate_first" value="" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/quiqqer" var="user.panel.search.filter.regdate.last"}
                    </span>
                    <input type="date" name="filter_regdate_last" value="" class="field-container-field"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="field-container">
                    <span class="field-container-item">
                        {locale group="quiqqer/system" var="groups"}
                    </span>
                    <input type="hidden"
                           name="filter_group"
                           value=""
                           class="field-container-field"
                           data-qui="controls/groups/Select"
                    />
                </label>
            </td>
        </tr>
        </tbody>
    </table>

</form>
