<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/core" var="user.panel.password"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/core" var="user.panel.password.new"}
                </span>
                <input type="password" name="password"
                       value=""
                       autocomplete="off"
                       class="field-container-field"
                />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/core" var="user.panel.password.repeat"}
                </span>
                <input type="password" name="password2"
                       value=""
                       autocomplete="off"
                       class="field-container-field"
                />
            </label>
        </td>
    </tr>
    <tr class="even">
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/core" var="user.panel.password.show"}
                </span>
                <span class="field-container-field">
                    <input type="checkbox" name="showPasswords"/>
                </span>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/core" var="user.settings.setNewPassword"}
                </span>
                <span class="field-container-field">
                    <input type="checkbox"
                           name="quiqqer.set.new.password"
                    />
                    {locale group="quiqqer/core" var="user.settings.setNewPassword.text"}
                </span>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                </span>
                <div class="field-container-field quiqqer-quiqqer-user-security-generateAndSend"></div>
            </label>
        </td>
    </tr>
    </tbody>
</table>

<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/core" var="user.settings.expire"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/core" var="user.settings.expire.always"}
                </span>
                <span class="field-container-field">
                    <input type="radio" name="expire" value="never" class="noborder"/>
                </span>

            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/core" var="user.settings.expire.date"}
                </span>
                <span class="field-container-field">
                    <input type="radio"
                           name="expire"
                           value="date"
                           class="noborder"
                           style="float: left;"
                    />

                    <span class="expire-container" style="float: left;clear: both; margin-top: 20px;">
                        <input name="expire_date" value="" type="date"/>
                    </span>
                </span>
            </label>
        </td>
    </tr>
    </tbody>
</table>

<h2>
    {locale group="quiqqer/core" var="user.settings.authenticators"}
</h2>

<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/core" var="user.settings.authenticators.additionalSettings"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/core" var="user.settings.hasSeen2faInfo"}
                </span>
                <span class="field-container-field">
                    <input type="checkbox" name="has.seen.2fa.info" />
                    {locale group="quiqqer/core" var="user.settings.hasSeen2faInfo.description"}
                </span>
            </label>
        </td>
    </tr>
    </tbody>
</table>

<h3 style="font-size: 1.2rem">
    {locale group="quiqqer/core" var="user.settings.authenticators.2faList"}
</h3>

{foreach from=$userAuthenticators item=$authenticator}
{assign var=cls value=get_class($authenticator)}
{assign var=hasAuth value=$User->hasAuthenticator($cls)}
{assign var=hasSettings value=''}

{if $User->hasAuthenticator($cls) || $authenticator->getSettingsControl()}
{assign var=hasSettings value=1}
{/if}

<table class="authenticator{if $hasAuth} authenticator-enabled{/if}"
       data-authenticator="{$cls}"
       data-settings="{$hasSettings}"
       style="
            margin-bottom: 5px; width: 100%; float: left;
            height: 45px; background: #ededed; padding-left: 10px;
            border-radius: 10px; line-height: 30px;
       "
>
    <thead>
    <tr>
        <th style="position: relative">
            {$authenticator->getTitle()}
        </th>
    </tr>
    </thead>
</table>
{foreachelse}
<p>{locale group="quiqqer/core" var="user.settings.authenticators.2faList.empty"}</p>
{/foreach}
