<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="user.panel.password"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.password.new"}
                </span>
                <input type="password" name="password"
                       value=""
                       autocomplete="off"
                       class="field-container-field"
                />
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.password.repeat"}
                </span>
                <input type="password" name="password2"
                       value=""
                       autocomplete="off"
                       class="field-container-field"
                />
            </label>
        </td>
    </tr>
    <tr class="even">
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.panel.password.show"}
                </span>
                <span class="field-container-field">
                    <input type="checkbox" name="showPasswords"/>
                </span>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.settings.setNewPassword"}
                </span>
                <span class="field-container-field">
                    <input type="checkbox"
                           name="quiqqer.set.new.password"
                    />
                    {locale group="quiqqer/quiqqer" var="user.settings.setNewPassword.text"}
                </span>
            </label>
        </td>
    </tr>
    </tbody>
</table>

<table class="data-table data-table-flexbox">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="user.settings.expire"}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.settings.expire.always"}
                </span>
                <span class="field-container-field">
                    <input type="radio" name="expire" value="never" class="noborder"/>
                </span>

            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="quiqqer/quiqqer" var="user.settings.expire.date"}
                </span>
                <span class="field-container-field">
                    <input type="radio"
                           name="expire"
                           value="date"
                           class="noborder"
                           style="float: left;"
                    />

                    <span class="expire-container" style="float: left;clear: both; margin-top: 20px;">
                        <input name="expire_date" value="" type="date"/>
                    </span>
                </span>
            </label>
        </td>
    </tr>
    </tbody>
</table>

{if count($authenticators)}
<table class="data-table data-table-flexbox data-table-no-toggle" style="margin-bottom: 5px">
    <thead>
    <tr>
        <th>
            {locale group="quiqqer/quiqqer" var="user.settings.authenticators"}
        </th>
    </tr>
    </thead>
</table>

{foreach from=$userAuthenticators item=$Authenticator}
{assign var=cls value=get_class($Authenticator)}
{assign var=hasAuth value=$User->hasAuthenticator($cls)}
<table class="data-table data-table-flexbox data-table-no-toggle authenticator{if $hasAuth} authenticator-enabled{/if}"
       data-authenticator="{$cls}"
       style="margin-bottom: 5px"
>
    <thead>
    <tr>
        <th>
            {$Authenticator->getTitle()}
        </th>
    </tr>
    </thead>
    {if $User->hasAuthenticator($cls)}
    {assign var=Settings value=$Authenticator->getSettingsControl()}
    {if $Settings}
    <tbody>
    <tr>
        <td>
            {$Settings->create()}
        </td>
    </tr>
    </tbody>
    {/if}
    {/if}
</table>
{/foreach}
{/if}