@CHARSET "UTF-8";

.qui-search-elements {
    width: 100%;
    float: left;
    clear: both;
}

.qui-search-elements label,
.qui-search-elements input {
    float: left;
    margin-right: 10px;
}

.qui-search-checkbox-container {
    float: left;
    width: 160px;
    margin-left: 20px;
}

.qui-search-checkbox-container:nth-child(3n+2) {
    clear: both;
}

/** Sitemap
 =========================================================== */

.qui-search-sitemap {
    width: 300px;
    background: #fff;
    height: 100%;
    position: relative;
    top: 0px;
    z-index: 100;
    border-right: 1px solid #bbb;
    float: left;
}

.qui-search-sitemap-container {
    float: left;
    clear: both;
    overflow : auto;
    width: 290px;
}

.qui-search-sitemap-filter {
    border-top: 1px solid #DEDEDE;
    clear: both;
    float: left;
    height: 42px;
}
